## Ariadna González de Prado

# Imports

Añado las importaciones de las librerías que me resulten utiles para el tratamiento de los datos

In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from matplotlib import pyplot
import matplotlib.cm as cm
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np
from pandas import Series


pd.set_option('display.max_columns', None)

# DATA

Importo todos los datos y realizado arreglos en ellos para su mejor uso.

Incluye temperatura (TEMP), humedad relativa(%RH), bulbo húmedo(WB) y presión diferencial(DP)

# Datos estación en bodega

# 2020

In [2]:
#Estas lineas de código me permiten crear un file.xlsx por cada hoja que contenga el archivo que quiero leer

df_sheets = pd.ExcelFile('med_2020.xlsx', engine="openpyxl")
hojas_20=[]
for elem in df_sheets.sheet_names:
    df = pd.read_excel('med_2020.xlsx', engine="openpyxl", sheet_name=elem)
    df.to_excel(f"{elem} {'med_2020.xlsx'}.xlsx")
    elem=pd.read_excel(f"{elem} {'med_2020.xlsx'}.xlsx")
    hojas_20.append(elem)

In [3]:
#Seleccionamos las columnas que vamos a usar
selected_columns= hojas_20[0].columns[2:7]
selected_columns

Index(['TEMP', '%RH', 'WB', 'DP', 'TIME'], dtype='object')

In [4]:
#limpio cada dataframe, cada una de las hojas del excel que he importado
for i in range(len(hojas_20)):
    hojas_20[i]=hojas_20[i][selected_columns].dropna()
    hojas_20[i]['TEMP'] = hojas_20[i]['TEMP'].astype('float64')
    hojas_20[i]['%RH'] = hojas_20[i]['%RH'].astype('float64')

In [5]:
#los clasifico por meses y año
meses=['Enero', 'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
df_20=[]
for mes in meses:
    name=mes+'20'
    df_20.append(name)
    name=pd.DataFrame()

df_20[2]=hojas_20[0]
df_20[4]=hojas_20[1]
df_20[5]=hojas_20[2]
df_20[6]=hojas_20[3]
df_20[7]=hojas_20[4]
df_20[8]=hojas_20[5]
df_20[9]=hojas_20[6]
df_20[10]=hojas_20[7]
df_20[11]=hojas_20[8]

## Agrupación de datos

In [6]:
#Creo 3 columnas separadas, para el día, fecha y mes
for i in range(len(meses)):
    if (type(df_20[i])!= str):
        df_20[i]['Date']=[d.date() for d in df_20[i]['TIME']]
        df_20[i]['Time']=[d.time() for d in df_20[i]['TIME']]

for i in range(len(meses)):
    if (type(df_20[i])!= str):
        df_20[i]['Month']= pd.DatetimeIndex(df_20[i]['Date']).month

In [7]:
df_20[4]

     TEMP   %RH    WB    DP                TIME        Date      Time  Month
0    11.8  95.5  11.4  11.1 2020-05-01 00:02:50  2020-05-01  00:02:50      5
1    11.8  95.8  11.4  11.2 2020-05-01 01:02:50  2020-05-01  01:02:50      5
2    11.9  95.4  11.5  11.2 2020-05-01 02:02:50  2020-05-01  02:02:50      5
3    12.0  95.1  11.6  11.2 2020-05-01 03:02:50  2020-05-01  03:02:50      5
4    12.0  96.2  11.7  11.4 2020-05-01 04:02:50  2020-05-01  04:02:50      5
..    ...   ...   ...   ...                 ...         ...       ...    ...
739  22.1  63.5  17.6  14.9 2020-05-31 19:16:18  2020-05-31  19:16:18      5
740  20.7  64.8  16.5  13.8 2020-05-31 20:16:18  2020-05-31  20:16:18      5
741  20.5  62.1  16.0  13.0 2020-05-31 21:16:18  2020-05-31  21:16:18      5
742  19.8  62.0  15.4  12.3 2020-05-31 22:16:18  2020-05-31  22:16:18      5
743  18.9  68.1  15.3  12.9 2020-05-31 23:16:18  2020-05-31  23:16:18      5

[744 rows x 8 columns]

In [8]:
#Creo una lista de dataframes para guardar la información de las horas, mientras que trabajo con df_20
info_2020_horas=[]
for i in range(len(meses)):
    name=meses[i]+'20'
    info_2020_horas.append(name)
    if (type(df_20[i])!=str):
        info_2020_horas[i]=df_20[i].drop(['Month'],axis=1)

info_2020_horas[4]

     TEMP   %RH    WB    DP                TIME        Date      Time
0    11.8  95.5  11.4  11.1 2020-05-01 00:02:50  2020-05-01  00:02:50
1    11.8  95.8  11.4  11.2 2020-05-01 01:02:50  2020-05-01  01:02:50
2    11.9  95.4  11.5  11.2 2020-05-01 02:02:50  2020-05-01  02:02:50
3    12.0  95.1  11.6  11.2 2020-05-01 03:02:50  2020-05-01  03:02:50
4    12.0  96.2  11.7  11.4 2020-05-01 04:02:50  2020-05-01  04:02:50
..    ...   ...   ...   ...                 ...         ...       ...
739  22.1  63.5  17.6  14.9 2020-05-31 19:16:18  2020-05-31  19:16:18
740  20.7  64.8  16.5  13.8 2020-05-31 20:16:18  2020-05-31  20:16:18
741  20.5  62.1  16.0  13.0 2020-05-31 21:16:18  2020-05-31  21:16:18
742  19.8  62.0  15.4  12.3 2020-05-31 22:16:18  2020-05-31  22:16:18
743  18.9  68.1  15.3  12.9 2020-05-31 23:16:18  2020-05-31  23:16:18

[744 rows x 7 columns]

In [9]:
#Juntos los datos por días agrupandalos por máximos y minimos en temperatura y humedad
info_2020_dias_max=[]
info_2020_dias_min=[]
for i in range(len(meses)):
    x=meses[i]+'20'
    y=meses[i]+'20'
    if (type(info_2020_horas[i])!= str):
        x =info_2020_horas[i].groupby(['Date']).max()
        y =info_2020_horas[i].groupby(['Date']).min()
        #añado info_mes a info_2020
    info_2020_dias_max.append(x)
    info_2020_dias_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2020_dias_max[i])!= str):
        info_2020_dias_max[i]=info_2020_dias_max[i][['TEMP','%RH']]
        info_2020_dias_max[i]= info_2020_dias_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2020_dias_min[i]=info_2020_dias_min[i][['TEMP','%RH']]
        info_2020_dias_min[i]=info_2020_dias_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [10]:
#Agrupo los datos por días realizando medias
info_2020_dias=[]
for i in range(len(meses)):
    info_mes=meses[i]+'20'
    if (type(info_2020_horas[i])!= str):
        info_mes =info_2020_horas[i].groupby(['Date']).mean()
        info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
        #añado info_mes a info_2020
    info_2020_dias.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2020_dias[i])!= str):
        info_2020_dias[i]=info_2020_dias[i]
        info_2020_dias[i].insert(0, "TEMP MAX", info_2020_dias_max[i]['TEMP MAX'], True)
        info_2020_dias[i].insert(2, "TEMP MIN", info_2020_dias_min[i]['TEMP MIN'], True)
        info_2020_dias[i].insert(3, "HUM MAX", info_2020_dias_max[i]['HUM MAX'], True)
        info_2020_dias[i].insert(5, "HUM MIN", info_2020_dias_min[i]['HUM MIN'], True)
        
info_2020_dias

['Enero20',
 'Febrero20',
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-03-13      18.3  14.347059       9.6     76.5  61.841176     51.6
 2020-03-14      19.0  11.054167       4.6     90.5  64.562500     38.5
 2020-03-15      17.2   9.187500       4.0     79.3  58.870833     36.7
 2020-03-16       4.2   3.950000       3.7     74.0  71.800000     70.1

                    WB        DP
 Date
 2020-03-13  10.623529  7.000000
 2020-03-14   7.812500  3.995833
 2020-03-15   5.770833  1.112500
 2020-03-16   2.162500 -0.650000  ,
 'Abril20',
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-05-01      18.6  14.658333      11.8     96.8  86.116667     71.2
 2020-05-02      23.9  17.562500      12.6     96.4  69.195833     45.7
 2020-05-03      27.3  20.375000      10.7     89.2  56.075000     34.4
 2020-05-04      24.9  19.270833      14.0     62.9  52.762500     39.0
 2020-05-05      23.6  16.191667      10.8     73.8  56.158333     40.8
 2020-05-06      25.6  17.954167       9.7     81.6  54.087500     28.7
 2020-05-07      28.6  21.116667      11.7     78.2  53.654167     34.1
 2020-05-08      25.8  18.629167      13.4     93.2  70.887500     47.8
 2020-05-09      24.1  16.254167      11.4     90.8  69.904167     42.9
 2020-05-10      22.1  14.704167      10.0     94.4  69.091667     43.3
 2020-05-11      25.3  17.362500       9.6     85.8  60.800000     38.8
 2020-05-12      18.2  14.075000      12.0     89.9  79.204167     64.8
 2020-05-13      20.3  14.454167      10.7     94.6  75.087500     52.1
 2020-05-14      18.6  13.275000      10.7     94.7  81.933333     63.5
 2020-05-15      21.7  14.241667      10.1     81.1  65.470833     47.2
 2020-05-16      23.0  16.645833       7.9     75.2  53.237500     34.5
 2020-05-17      26.3  19.183333       9.7     73.7  46.245833     11.4
 2020-05-18      29.9  21.516667      11.8     73.4  45.645833     21.4
 2020-05-19      30.8  23.479167      13.7     68.8  45.312500     26.3
 2020-05-20      33.3  24.762500      15.7     69.0  46.537500     26.0
 2020-05-21      31.9  24.183333      15.7     69.6  47.512500     26.4
 2020-05-22      30.5  23.712500      16.0     74.7  49.745833     30.2
 2020-05-23      28.9  21.487500      14.5     78.9  55.225000     35.5
 2020-05-24      30.2  22.520833      13.7     75.1  52.541667     34.0
 2020-05-25      31.9  24.791667      18.0     66.2  46.129167     22.3
 2020-05-26      30.3  23.687500      15.6     54.6  38.741667     31.6
 2020-05-27      30.7  24.866667      17.6     59.8  44.933333     35.3
 2020-05-28      33.6  26.962500      20.0     61.1  43.133333     22.1
 2020-05-29      34.9  27.170833      18.5     66.1  41.762500     13.7
 2020-05-30      33.8  26.625000      17.5     57.5  39.450000     20.8
 2020-05-31      27.5  21.283333      18.1     71.6  59.879167     42.8

                    WB         DP
 Date
 2020-05-01  13.245833  12.275000
 2020-05-02  13.979167  11.237500
 2020-05-03  14.741667  10.337500
 2020-05-04  13.837500   9.229167
 2020-05-05  11.570833   7.108333
 2020-05-06  12.595833   7.600000
 2020-05-07  15.225000  10.766667
 2020-05-08  15.191667  12.862500
 2020-05-09  12.945833  10.175000
 2020-05-10  11.479167   8.637500
 2020-05-11  12.879167   9.058333
 2020-05-12  12.066667  10.483333
 2020-05-13  11.887500   9.791667
 2020-05-14  11.545833  10.179167
 2020-05-15  10.779167   7.608333
 2020-05-16  11.495833   6.466667
 2020-05-17  12.970833   5.562500
 2020-05-18  14.608333   8.300000
 2020-05-19  16.033333  10.200000
 2020-05-20  17.258333  11.879167
 2020-05-21  16.854167  11.383333
 2020-05-22  16.891667  11.945833
 2020-05-23  15.762500  11.529167
 2020-05-24  16.245833  11.700000
 2020-05-25  17.270833  11.500000
 2020-05-26  15.629167   8.583333
 2020-05-27  17.241667  11.766667
 2020-05-28  18.558333  12.595833
 2020-05-29  18.529167  11.475000
 2020-05-30  17.729167  10.779167
 2020-05-31  16.366667  13.016667  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-06-01      30.8  23.500000      15.0     81.7  56.143478     33.4
 2020-06-02      30.5  22.008333      17.1     77.6  60.195833     38.2
 2020-06-03      28.4  20.595833      15.6     81.3  62.600000     43.0
 2020-06-04      20.7  15.625000      11.4     73.8  59.525000     45.1
 2020-06-05      27.1  18.895833       8.5     83.1  54.720833     35.0
 2020-06-06      28.2  20.137500      13.4     80.3  57.250000     34.8
 2020-06-07      22.0  16.016667      11.0     73.1  56.483333     36.7
 2020-06-08      22.5  16.417391       8.4     68.3  51.521739     34.9
 2020-06-09      23.3  16.658333       8.0     80.4  53.487500     31.9
 2020-06-10      25.3  18.987500      11.2     76.1  51.841667     34.6
 2020-06-11      17.4  13.558333       9.5     82.9  68.020833     52.2
 2020-06-12      14.7  11.220833       8.5     93.0  80.737500     66.7
 2020-06-13      18.3  12.779167       9.4     89.0  73.595833     51.7
 2020-06-14      19.3  13.383333       9.5     84.2  70.958333     50.1
 2020-06-15      20.2  15.233333      10.6     84.8  67.541667     50.1
 2020-06-16      22.6  15.654167      11.5     88.7  69.875000     47.8
 2020-06-17      22.0  15.545833      11.0     75.8  61.804167     41.8
 2020-06-18      24.0  17.483333      10.4     80.1  56.737500     39.7
 2020-06-19      26.6  19.204167       9.9     84.0  54.795833     36.9
 2020-06-20      29.7  21.425000      12.4     79.6  51.350000     26.2
 2020-06-21      28.1  21.633333      12.8     64.8  51.862500     36.2
 2020-06-22      33.5  25.404167      14.8     81.0  48.250000     23.6
 2020-06-23      36.7  28.937500      18.6     55.5  35.141667     17.3
 2020-06-24      38.3  25.770833      16.7     94.7  53.850000     19.9
 2020-06-25      32.8  22.841667      14.5     95.0  67.295833     38.0
 2020-06-26      28.7  21.108333      15.6     80.0  59.995833     34.4
 2020-06-27      24.3  20.362500      16.7     80.1  64.904167     54.0
 2020-06-28      27.6  20.687500      14.2     77.6  63.104167     43.8
 2020-06-29      31.6  24.395833      16.4     80.4  53.258333     26.4
 2020-06-30      33.5  25.329167      17.2     67.0  52.333333     34.0

                    WB         DP
 Date
 2020-06-01  17.486957  13.526087
 2020-06-02  16.879167  13.500000
 2020-06-03  15.962500  12.783333
 2020-06-04  11.483333   7.620833
 2020-06-05  13.416667   8.850000
 2020-06-06  14.845833  10.804167
 2020-06-07  11.416667   6.900000
 2020-06-08  11.213043   5.947826
 2020-06-09  11.495833   6.316667
 2020-06-10  13.262500   8.120833
 2020-06-11  10.529167   7.666667
 2020-06-12   9.529167   7.987500
 2020-06-13  10.254167   7.945833
 2020-06-14  10.554167   7.995833
 2020-06-15  11.883333   8.983333
 2020-06-16  12.450000   9.816667
 2020-06-17  11.570833   7.975000
 2020-06-18  12.583333   8.233333
 2020-06-19  13.737500   9.170833
 2020-06-20  15.095833   9.929167
 2020-06-21  15.533333  10.979167
 2020-06-22  17.712500  12.166667
 2020-06-23  18.800000  10.712500
 2020-06-24  18.712500  14.029167
 2020-06-25  18.237500  15.620833
 2020-06-26  16.020833  12.358333
 2020-06-27  16.179167  13.408333
 2020-06-28  16.116667  13.112500
 2020-06-29  17.779167  13.366667
 2020-06-30  18.529167  14.345833  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-07-01      27.5  21.929167      17.6     81.5  62.437500     41.9
 2020-07-02      24.1  18.712500      14.2     74.6  57.558333     38.8
 2020-07-03      27.6  18.179167      10.9     74.9  55.295833     32.7
 2020-07-04      30.6  21.591667      14.5     75.8  55.995833     32.2
 2020-07-05      34.2  24.854167      18.8     68.9  55.429167     35.1
 2020-07-06      34.0  27.287500      19.1     76.2  54.287500     37.1
 2020-07-07      35.5  28.558333      20.3     59.8  41.037500     20.1
 2020-07-08      37.6  27.545833      21.4     59.4  43.358333     20.7
 2020-07-09      35.6  27.112500      19.8     59.3  44.533333     19.3
 2020-07-10      33.1  25.762500      17.7     72.8  50.441667     33.2
 2020-07-11      34.3  26.645833      18.0     64.8  46.116667     28.3
 2020-07-12      34.0  26.891667      20.4     66.4  47.695833     29.3
 2020-07-13      33.6  25.941667      18.3     73.0  49.183333     28.7
 2020-07-14      31.6  24.058333      17.0     65.5  43.554167     31.7
 2020-07-15      33.1  25.083333      14.0     65.7  41.754167     21.4
 2020-07-16      33.3  26.925000      18.2     63.5  42.366667     25.6
 2020-07-17      35.5  28.750000      19.0     54.0  30.883333     10.8
 2020-07-18      36.3  29.187500      19.2     47.4  30.554167     19.2
 2020-07-19      37.2  29.266667      21.2     64.1  42.054167     17.0
 2020-07-20      34.9  27.358333      18.4     79.4  51.766667     30.9
 2020-07-21      34.7  26.054167      18.9     69.4  51.537500     31.4
 2020-07-22      35.9  28.712500      20.6     59.8  42.545833     27.1
 2020-07-23      35.2  27.533333      19.6     60.7  39.879167     18.9
 2020-07-24      32.9  25.608333      16.6     71.1  41.662500     24.2
 2020-07-25      33.1  25.516667      16.9     65.7  43.858333     16.2
 2020-07-26      35.0  27.095833      17.3     70.7  42.704167     24.3
 2020-07-27      35.7  27.604167      18.7     65.3  44.395833     21.1
 2020-07-28      33.0  25.950000      18.5     80.2  55.183333     36.7
 2020-07-29      36.6  28.358333      19.2     66.8  47.712500     24.8
 2020-07-30      38.8  28.816667      21.5     65.6  46.762500     24.7
 2020-07-31      35.3  27.183333      18.3     77.9  47.220833     18.5

                    WB         DP
 Date
 2020-07-01  17.162500  14.075000
 2020-07-02  13.837500   9.725000
 2020-07-03  12.945833   8.400000
 2020-07-04  15.858333  11.779167
 2020-07-05  18.600000  14.854167
 2020-07-06  20.420833  16.666667
 2020-07-07  19.445833  12.945833
 2020-07-08  18.987500  13.229167
 2020-07-09  18.850000  13.220833
 2020-07-10  18.620833  14.145833
 2020-07-11  18.654167  13.354167
 2020-07-12  19.133333  14.208333
 2020-07-13  18.587500  13.825000
 2020-07-14  16.445833  10.541667
 2020-07-15  16.895833  10.333333
 2020-07-16  18.391667  12.437500
 2020-07-17  18.387500   7.841667
 2020-07-18  18.420833   9.395833
 2020-07-19  20.133333  14.220833
 2020-07-20  20.029167  15.787500
 2020-07-21  19.029167  14.762500
 2020-07-22  19.737500  14.054167
 2020-07-23  18.541667  11.962500
 2020-07-24  17.329167  11.012500
 2020-07-25  17.483333  11.108333
 2020-07-26  18.454167  12.295833
 2020-07-27  19.154167  13.533333
 2020-07-28  19.483333  15.750000
 2020-07-29  20.225000  15.495833
 2020-07-30  20.437500  15.450000
 2020-07-31  19.150000  13.400000  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-08-01      30.1  24.062500      17.5     71.9  52.116667     40.9
 2020-08-02      28.9  22.391667      14.5     78.8  52.591667     35.1
 2020-08-03      30.1  23.166667      15.7     69.9  50.395833     33.3
 2020-08-04      22.6  17.900000      15.5     82.1  71.657143     57.2
 2020-08-06      39.1  33.005882      19.4     67.0  30.676471     18.7
 2020-08-07      36.0  29.358333      21.2     69.4  42.566667     25.3
 2020-08-08      38.4  29.270833      20.9     64.4  45.845833     26.9
 2020-08-09      35.5  28.675000      22.7     63.4  46.804167     29.3
 2020-08-10      34.0  25.604167      19.3     80.2  57.645833     32.1
 2020-08-11      33.7  22.579167      15.7     93.4  63.900000     30.6
 2020-08-12      18.2  16.275000      14.7     93.2  86.675000     74.0
 2020-08-13      27.6  18.854167      11.8     87.5  63.950000     39.8
 2020-08-14      30.6  21.579167      12.5     85.4  56.712500     32.2
 2020-08-15      26.1  20.125000      15.0     81.4  56.025000     36.8
 2020-08-16      22.9  17.587500      13.7     91.3  65.991667     43.3
 2020-08-17      19.6  15.904167      14.5     98.0  94.412500     82.4
 2020-08-18      23.1  18.125000      14.6     98.4  85.195833     65.5
 2020-08-19      27.6  21.587500      14.4     88.0  64.483333     43.6
 2020-08-20      30.1  21.595833      16.5     96.7  70.512500     41.0
 2020-08-21      27.4  19.920833      12.5     75.0  56.454167     37.6
 2020-08-22      28.0  20.883333      12.6     83.4  55.520833     36.3
 2020-08-23      30.4  21.625000      13.1     78.9  55.808333     24.9
 2020-08-24      30.7  23.866667      15.1     85.4  52.587500     32.2
 2020-08-25      31.7  24.678261      15.7     74.0  49.873913     32.7
 2020-08-26      31.8  24.308333      16.4     83.1  60.395833     41.5
 2020-08-27      30.9  23.400000      18.2     85.7  66.562500     43.3
 2020-08-28      25.5  19.304167      13.5     84.4  57.729167     37.3
 2020-08-29      20.3  15.029167      12.0     77.9  63.420833     43.5
 2020-08-30      23.5  16.195833      10.8     77.6  56.216667     30.5
 2020-08-31      24.2  17.104167      10.8     69.5  51.316667     31.5

                    WB         DP
 Date
 2020-08-01  17.604167  13.366667
 2020-08-02  16.154167  11.608333
 2020-08-03  16.508333  11.704167
 2020-08-04  14.771429  12.614286
 2020-08-06  21.052941  12.300000
 2020-08-07  20.295833  14.716667
 2020-08-08  20.679167  15.716667
 2020-08-09  20.445833  15.600000
 2020-08-10  19.512500  16.020833
 2020-08-11  17.545833  14.370833
 2020-08-12  14.908333  14.033333
 2020-08-13  14.520833  11.416667
 2020-08-14  15.895833  11.850000
 2020-08-15  14.820833  10.491667
 2020-08-16  13.800000  10.841667
 2020-08-17  15.325000  14.987500
 2020-08-18  16.416667  15.391667
 2020-08-19  17.020833  14.120833
 2020-08-20  17.795833  15.387500
 2020-08-21  14.587500  10.479167
 2020-08-22  15.241667  10.958333
 2020-08-23  15.870833  11.604167
 2020-08-24  17.308333  12.716667
 2020-08-25  17.673913  12.969565
 2020-08-26  18.791667  15.637500
 2020-08-27  18.925000  16.404167
 2020-08-28  14.358333  10.241667
 2020-08-29  11.337500   7.966667
 2020-08-30  11.479167   6.841667
 2020-08-31  11.737500   6.366667  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-09-01      28.6  20.187500      13.9     68.8  52.370833     32.6
 2020-09-02      29.7  21.262500      12.6     81.1  55.179167     31.1
 2020-09-03      31.8  23.225000      15.2     74.2  50.579167     28.1
 2020-09-04      33.0  24.883333      15.5     68.1  44.691667     20.5
 2020-09-05      31.3  23.837500      17.1     74.0  54.604167     36.7
 2020-09-06      29.0  21.700000      15.1     75.1  54.054167     33.3
 2020-09-07      27.3  20.854167      13.2     65.9  44.925000     26.1
 2020-09-08      26.9  21.008333      14.3     60.6  40.870833     25.1
 2020-09-09      33.9  23.483333      13.9     57.1  39.029167     19.2
 2020-09-10      34.4  24.675000      16.6     61.3  43.354167     23.6
 2020-09-11      31.6  25.070833      17.9     61.0  43.604167     25.4
 2020-09-12      37.0  26.712500      18.4     59.1  37.979167     20.4
 2020-09-13      36.0  27.154167      19.4     45.3  31.870833     17.3
 2020-09-14      29.7  23.504167      19.8     69.0  47.591667     36.2
 2020-09-15      29.9  22.775000      16.5     81.6  55.454167     36.4
 2020-09-16      29.6  22.783333      14.3     71.7  47.770833     31.6
 2020-09-17      27.2  20.595652      16.8     82.2  64.226087     45.4
 2020-09-18      25.7  18.645833      14.4     96.4  74.466667     42.2
 2020-09-19      22.9  17.637500      14.3     82.6  71.779167     54.0
 2020-09-20      20.7  15.775000      13.8     97.4  91.241667     80.7
 2020-09-21      25.0  17.550000      13.7     97.4  75.904167     45.3
 2020-09-22      23.5  16.404167      11.9     88.2  70.795833     41.2
 2020-09-23      20.6  16.166667      13.7     97.5  82.575000     61.2
 2020-09-24      19.7  14.295833      10.8     88.6  71.925000     47.4
 2020-09-25      15.0  11.350000       8.9     79.8  69.162500     56.0
 2020-09-26      17.1  12.737500       9.4     86.0  76.612500     63.7
 2020-09-27      22.1  16.600000      12.0     88.4  60.462500     39.9
 2020-09-28      21.4  15.262500       7.1     80.2  58.004167     41.2
 2020-09-29      25.7  18.125000      10.7     80.6  56.012500     34.6
 2020-09-30      24.8  17.170833      10.2     78.6  55.562500     25.8

                    WB         DP
 Date
 2020-09-01  14.404167   9.658333
 2020-09-02  15.454167  10.995833
 2020-09-03  16.441667  11.383333
 2020-09-04  17.066667  10.962500
 2020-09-05  17.650000  13.691667
 2020-09-06  15.845833  11.508333
 2020-09-07  14.075000   7.808333
 2020-09-08  13.779167   6.470833
 2020-09-09  15.395833   7.675000
 2020-09-10  16.712500  10.404167
 2020-09-11  17.112500  11.041667
 2020-09-12  17.545833  10.095833
 2020-09-13  17.195833   8.216667
 2020-09-14  16.625000  11.470833
 2020-09-15  16.854167  12.691667
 2020-09-16  15.825000  10.375000
 2020-09-17  16.239130  13.295652
 2020-09-18  15.562500  13.400000
 2020-09-19  14.520833  12.333333
 2020-09-20  14.879167  14.312500
 2020-09-21  14.766667  12.754167
 2020-09-22  13.200000  10.700000
 2020-09-23  14.304167  13.000000
 2020-09-24  11.483333   9.025000
 2020-09-25   8.637500   5.829167
 2020-09-26  10.579167   8.679167
 2020-09-27  12.300000   8.258333
 2020-09-28  10.879167   6.595833
 2020-09-29  13.025000   8.587500
 2020-09-30  12.225000   7.454167  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-10-01      18.9  14.137500      11.4     94.3  73.741667     48.6
 2020-10-02      13.8   9.675000       5.8     95.4  82.737500     63.4
 2020-10-03      12.6   9.350000       6.6     89.1  80.829167     66.3
 2020-10-04      16.1  10.812500       8.9     96.1  80.329167     56.1
 2020-10-05      18.6  12.766667       8.6     94.1  78.745833     53.2
 2020-10-06      23.1  16.966667      13.5     94.7  76.166667     55.9
 2020-10-07      25.0  18.216667      13.3     91.1  71.529167     51.0
 2020-10-08      23.6  17.083333      11.1     94.1  73.758333     54.4
 2020-10-09      22.5  16.258333      12.5     93.5  75.729167     55.2
 2020-10-10      21.4  14.600000       9.8     90.8  70.304167     50.2
 2020-10-11      18.7  12.433333       5.9     85.6  62.370833     41.7
 2020-10-12      19.7  12.695833       4.6     84.5  67.300000     44.0
 2020-10-13      20.4  14.525000       9.7     89.4  69.000000     49.0
 2020-10-14      17.9  11.325000       8.2     80.1  67.145833     48.7
 2020-10-15      17.9  11.666667       8.4     78.2  64.533333     45.1
 2020-10-16      16.9  10.200000       3.1     81.6  60.325000     41.9
 2020-10-17      17.0  11.258333       5.8     82.5  65.491667     46.7
 2020-10-18      20.9  14.187500       7.2     89.4  63.187500     42.9
 2020-10-19      21.7  15.191667      11.8     93.3  58.654167     35.8
 2020-10-20      14.2  12.058333      11.3     98.5  92.800000     82.9
 2020-10-21      16.5  12.008333       9.9     98.6  87.566667     62.2
 2020-10-22      15.8  11.300000       8.9     97.4  87.125000     70.2
 2020-10-23      16.9  11.133333       8.2     95.3  79.341667     61.0
 2020-10-24      14.3  11.304167       8.3     87.8  79.683333     70.2
 2020-10-25      12.9   9.875000       5.0     96.5  87.887500     71.5
 2020-10-26      15.4   7.908333       4.4     95.3  84.779167     63.2
 2020-10-27      12.9   9.675000       7.3     98.5  90.275000     78.7
 2020-10-28      16.1  11.416667       8.7     98.7  81.529167     57.6
 2020-10-29      15.3   9.587500       4.9     96.5  83.666667     62.2
 2020-10-30      17.0  11.658333       5.5     94.7  75.291667     52.3
 2020-10-31      16.2  12.670833       8.2     95.5  83.145833     72.9

                    WB         DP
 Date
 2020-10-01  11.508333   9.162500
 2020-10-02   8.270833   6.841667
 2020-10-03   7.779167   6.183333
 2020-10-04   9.087500   7.445833
 2020-10-05  10.750000   9.025000
 2020-10-06  14.345833  12.504167
 2020-10-07  14.875000  12.600000
 2020-10-08  14.133333  12.079167
 2020-10-09  13.633333  11.720833

In [11]:
#Juntos los datos por mes agrupandalos por máximos en temperatura y humedad
info_2020_mes_max=[]
for i in range(len(meses)):
    info_mes=meses[i]+'20'
    if (type(df_20[i])!= str):
        for column in info_2020_dias[i].columns:
            info_mes =df_20[i].groupby(['Month']).max()
        #añado info_mes a info_2020
    info_2020_mes_max.append(info_mes)
    
for i in range(len(meses)):
    if (type(info_2020_mes_max[i])!= str):
        info_2020_mes_max[i]=info_2020_mes_max[i][['TEMP','%RH']]
        info_2020_mes_max[i]= info_2020_mes_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})

In [12]:
#Juntos los datos por mes agrupandalos por mínimos en temperatura y humedad
info_2020_mes_min=[]
for i in range(len(meses)):
    info_mes=meses[i]+'20'
    if (type(df_20[i])!= str):
        for column in info_2020_dias[i].columns:
            info_mes =df_20[i].groupby(['Month']).min()
        #añado info_mes a info_2020
    info_2020_mes_min.append(info_mes)
    
for i in range(len(meses)):
    if (type(info_2020_mes_min[i])!= str):
        info_2020_mes_min[i]=info_2020_mes_min[i][['TEMP','%RH']]
        info_2020_mes_min[i]= info_2020_mes_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [13]:
#Agrupo los datos por mes
info_2020_mes=[]
for i in range(len(meses)):
    info_mes=meses[i]+'20'
    if (type(df_20[i])!= str):
        for column in info_2020_dias[i].columns:
            info_mes =df_20[i].groupby(['Month']).mean()
            info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})

        #añado info_mes a info_2020
    info_2020_mes.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2020_mes[i])!= str):
        info_2020_mes[i]=info_2020_mes[i]
        info_2020_mes[i].insert(0, "TEMP MAX", info_2020_mes_max[i]['TEMP MAX'], True)
        info_2020_mes[i].insert(2, "TEMP MIN", info_2020_mes_min[i]['TEMP MIN'], True)
        info_2020_mes[i].insert(3, "HUM MAX", info_2020_mes_max[i]['HUM MAX'], True)
        info_2020_mes[i].insert(5, "HUM MIN", info_2020_mes_min[i]['HUM MIN'], True)
        
info_2020_mes

['Enero20',
 'Febrero20',
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN        WB  \
 Month
 3          19.0  10.428767       3.7     90.5  62.850685     36.7  7.176712

              DP
 Month
 3      3.238356  ,
 'Abril20',
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN         WB  \
 Month
 5          34.9  20.096909       7.9     96.8  56.660081     11.4  14.626344

               DP
 Month
 5      10.194624  ,
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN         WB  \
 Month
 6          38.3  19.358357       8.0     95.0  58.987047     17.3  14.308914

               DP
 Month
 6      10.340808  ,
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN         WB  \
 Month
 7          38.8  26.131452      10.9     81.5  46.766667     10.8  18.349462

               DP
 Month
 7      12.897177  ,
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN        WB  \
 Month
 8          39.1  21.777122      10.8     98.4  59.473813     18.7  16.40446

               DP
 Month
 8      12.627194  ,
        TEMP MAX  TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN         WB  \
 Month
 9          37.0  20.04701       7.1     97.5  57.412517     17.3  14.684006

               DP
 Month
 9      10.284979  ,
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN         WB  \
 Month
 10         25.0  12.385349       3.1     98.7  75.966801     35.8  10.085484

              DP
 Month
 10     7.919086  ,
        TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN        WB  \
 Month
 11         21.9  10.876667       2.0     97.9  77.839722     52.8  8.927083

              DP
 Month
 11     7.008611  ,
        TEMP MAX  TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN        WB  \
 Month
 12         14.8  5.985887      -2.8     99.2  86.202823     52.6  4.983065

             DP
 Month
 12     3.75457  ]

# 2021

In [14]:
df_sheets = pd.ExcelFile('med_2021.xlsx', engine="openpyxl")
hojas_21=[]
for elem in df_sheets.sheet_names:
    df = pd.read_excel('med_2021.xlsx', engine="openpyxl", sheet_name=elem)
    df.to_excel(f"{elem} {'med_2021.xlsx'}.xlsx")
    elem=pd.read_excel(f"{elem} {'med_2021.xlsx'}.xlsx")
    hojas_21.append(elem)

In [15]:
#limpio cad dataframe
for i in range(len(hojas_21)):
    hojas_21[i]=hojas_21[i][selected_columns].dropna()
    hojas_21[i]['TEMP'] = hojas_21[i]['TEMP'].astype('float64')
    hojas_21[i]['%RH'] = hojas_21[i]['%RH'].astype('float64')

In [16]:
#los clasifico por meses y año
df_21=[]
for mes in meses:
    name=mes+'21'
    df_21.append(name)
    name=pd.DataFrame()
for i in range (len(meses)):
    df_21[i]=hojas_21[i]

## Agrupación de datos

In [17]:
#Creo 3 columnas separadas, para el día, mes y para la fecha
for i in range(len(meses)):
    if (type(df_21[i])!= str):
        df_21[i]['Date']=[d.date() for d in df_21[i]['TIME']]
        df_21[i]['Time']=[d.time() for d in df_21[i]['TIME']]

for i in range(len(meses)):
    if (type(df_21[i])!= str):
        df_21[i]['Month']= pd.DatetimeIndex(df_21[i]['Date']).month
df_21[4]

     TEMP   %RH    WB    DP                TIME        Date      Time  Month
0     8.3  66.4   5.7   2.4 2021-05-01 00:02:44  2021-05-01  00:02:44      5
1     7.3  68.4   5.0   1.9 2021-05-01 01:02:44  2021-05-01  01:02:44      5
2     6.9  69.4   4.7   1.7 2021-05-01 02:02:44  2021-05-01  02:02:44      5
3     6.4  71.3   4.4   1.6 2021-05-01 03:02:44  2021-05-01  03:02:44      5
4     6.4  70.4   4.3   1.4 2021-05-01 04:02:44  2021-05-01  04:02:44      5
..    ...   ...   ...   ...                 ...         ...       ...    ...
741  21.2  66.5  17.2  14.7 2021-05-31 19:37:44  2021-05-31  19:37:44      5
742  20.2  68.4  16.5  14.2 2021-05-31 20:37:44  2021-05-31  20:37:44      5
743  18.4  75.9  15.8  14.1 2021-05-31 21:37:44  2021-05-31  21:37:44      5
744  18.7  73.2  15.7  13.8 2021-05-31 22:37:44  2021-05-31  22:37:44      5
745  18.5  73.0  15.5  13.6 2021-05-31 23:37:44  2021-05-31  23:37:44      5

[746 rows x 8 columns]

In [18]:
#Creo una lista de dataframes para guardar la información de las horas, mientras que trabajo con df_20
info_21_horas=[]
for i in range(len(meses)):
    name=meses[i]+'21'
    info_21_horas.append(name)
    if (type(df_21[i])!=str):
        info_21_horas[i]=df_21[i].drop(['Month'],axis=1)

info_21_horas[4]

     TEMP   %RH    WB    DP                TIME        Date      Time
0     8.3  66.4   5.7   2.4 2021-05-01 00:02:44  2021-05-01  00:02:44
1     7.3  68.4   5.0   1.9 2021-05-01 01:02:44  2021-05-01  01:02:44
2     6.9  69.4   4.7   1.7 2021-05-01 02:02:44  2021-05-01  02:02:44
3     6.4  71.3   4.4   1.6 2021-05-01 03:02:44  2021-05-01  03:02:44
4     6.4  70.4   4.3   1.4 2021-05-01 04:02:44  2021-05-01  04:02:44
..    ...   ...   ...   ...                 ...         ...       ...
741  21.2  66.5  17.2  14.7 2021-05-31 19:37:44  2021-05-31  19:37:44
742  20.2  68.4  16.5  14.2 2021-05-31 20:37:44  2021-05-31  20:37:44
743  18.4  75.9  15.8  14.1 2021-05-31 21:37:44  2021-05-31  21:37:44
744  18.7  73.2  15.7  13.8 2021-05-31 22:37:44  2021-05-31  22:37:44
745  18.5  73.0  15.5  13.6 2021-05-31 23:37:44  2021-05-31  23:37:44

[746 rows x 7 columns]

In [19]:
#Juntos los datos por días agrupandalos por máximos y minimos en temperatura y humedad
info_2021_dias_max=[]
info_2021_dias_min=[]
for i in range(len(meses)):
    x=meses[i]+'21'
    y=meses[i]+'21'
    if (type(df_21[i])!= str):
        x =info_21_horas[i].groupby(['Date']).max()
        y= info_21_horas[i].groupby(['Date']).min()
        #añado info_mes a info_2021
    info_2021_dias_max.append(x)
    info_2021_dias_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2021_dias_max[i])!= str):
        info_2021_dias_max[i]=info_2021_dias_max[i][['TEMP','%RH']]
        info_2021_dias_max[i]= info_2021_dias_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2021_dias_min[i]=info_2021_dias_min[i][['TEMP','%RH']]
        info_2021_dias_min[i]=info_2021_dias_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [20]:
#Agrupo los datos por días realizando medias
info_2021_dias=[]
for i in range(len(meses)):
    info_mes=meses[i]+'21'
    if (type(info_21_horas[i])!= str):
        info_mes =info_21_horas[i].groupby(['Date']).mean()
        info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
        #añado info_mes a info_2021
    info_2021_dias.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2021_dias[i])!= str):
        info_2021_dias[i]=info_2021_dias[i]
        info_2021_dias[i].insert(0, "TEMP MAX", info_2021_dias_max[i]['TEMP MAX'], True)
        info_2021_dias[i].insert(2, "TEMP MIN", info_2021_dias_min[i]['TEMP MIN'], True)
        info_2021_dias[i].insert(3, "HUM MAX", info_2021_dias_max[i]['HUM MAX'], True)
        info_2021_dias[i].insert(5, "HUM MIN", info_2021_dias_min[i]['HUM MIN'], True)

In [21]:
#Juntos los datos por mes agrupandalos por máximos en temperatura y humedad
info_2021_mes_max=[]
info_2021_mes_min=[]
for i in range(len(meses)):
    x=meses[i]+'21'
    y=meses[i]+'21'
    if (type(df_21[i])!= str):
        for column in info_2021_dias[i].columns:
            x =df_21[i].groupby(['Month']).max()
            y =df_21[i].groupby(['Month']).min()
        #añado info_mes a info_2021
    info_2021_mes_max.append(x)
    info_2021_mes_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2021_mes_max[i])!= str):
        info_2021_mes_max[i]=info_2021_mes_max[i][['TEMP','%RH']]
        info_2021_mes_max[i]= info_2021_mes_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2021_mes_min[i]=info_2021_mes_min[i][['TEMP','%RH']]
        info_2021_mes_min[i]= info_2021_mes_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [22]:
#Agrupo los datos por mes
info_2021_mes=[]
for i in range(len(meses)):
    info_mes=meses[i]+'21'
    if (type(df_21[i])!= str):
        for column in info_2021_dias[i].columns:
            info_mes =df_21[i].groupby(['Month']).mean()
            info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
    info_2021_mes.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2021_mes[i])!= str):
        info_2021_mes[i]=info_2021_mes[i]
        info_2021_mes[i].insert(0, "TEMP MAX",info_2021_mes_max[i]['TEMP MAX'], True)
        info_2021_mes[i].insert(2, "TEMP MIN",info_2021_mes_min[i]['TEMP MIN'], True)
        info_2021_mes[i].insert(3, "HUM MAX", info_2021_mes_max[i]['HUM MAX'], True)
        info_2021_mes[i].insert(5, "HUM MIN", info_2021_mes_min[i]['HUM MIN'], True)

# 2022

In [23]:
df_sheets = pd.ExcelFile('med_2022_.xlsx', engine="openpyxl")
hojas_22=[]
for elem in df_sheets.sheet_names:
    df = pd.read_excel('med_2022_.xlsx', engine="openpyxl", sheet_name=elem)
    df.to_excel(f"{elem} {'med_2022_.xlsx'}.xlsx")
    elem=pd.read_excel(f"{elem} {'med_2022_.xlsx'}.xlsx")
    hojas_22.append(elem)

In [24]:
#limpio cad dataframe
for i in range(len(hojas_22)):
    hojas_22[i]=hojas_22[i][selected_columns].dropna()
    hojas_22[i]['TEMP'] = hojas_22[i]['TEMP'].astype('float64')
    hojas_22[i]['%RH'] = hojas_22[i]['%RH'].astype('float64')

In [25]:
#los clasifico por meses y año
df_22=[]
for mes in meses:
    name=mes+'22'
    df_22.append(name)
    name=pd.DataFrame()
for i in range (len(meses)):
    df_22[i]=hojas_22[i]

## Agrupación de datos

In [26]:
#Creo 3 columnas separadas, para el día, mes y para la fecha
for i in range(len(meses)):
    if (type(df_22[i])!= str):
        df_22[i]['Date']=[d.date() for d in df_22[i]['TIME']]
        df_22[i]['Time']=[d.time() for d in df_22[i]['TIME']]

for i in range(len(meses)):
    if (type(df_22[i])!= str):
        df_22[i]['Month']= pd.DatetimeIndex(df_22[i]['Date']).month

In [27]:
#Creo una lista de dataframes para guardar la información de las horas, mientras que trabajo con df_20
info_22_horas=[]
for i in range(len(meses)):
    name=meses[i]+'22'
    info_22_horas.append(name)
    if (type(df_22[i])!=str):
        info_22_horas[i]=df_22[i].drop(['Month'],axis=1)

In [28]:
#Juntos los datos por días agrupandalos por máximos y minimos en temperatura y humedad
info_2022_dias_max=[]
info_2022_dias_min=[]
for i in range(len(meses)):
    x=meses[i]+'22'
    y=meses[i]+'22'
    if (type(info_22_horas[i])!= str):
        x =info_22_horas[i].groupby(['Date']).max()
        y= info_22_horas[i].groupby(['Date']).min()
        #añado info_mes a info_2022
    info_2022_dias_max.append(x)
    info_2022_dias_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2022_dias_max[i])!= str):
        info_2022_dias_max[i]=info_2022_dias_max[i][['TEMP','%RH']]
        info_2022_dias_max[i]=info_2022_dias_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2022_dias_min[i]=info_2022_dias_min[i][['TEMP','%RH']]
        info_2022_dias_min[i]=info_2022_dias_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [29]:
#Agrupo los datos por días realizando medias
info_2022_dias=[]
for i in range(len(meses)):
    info_mes=meses[i]+'22'
    if (type(info_22_horas[i])!= str):
        info_mes =info_22_horas[i].groupby(['Date']).mean()
        info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
        #añado info_mes a info_2022
    info_2022_dias.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2022_dias[i])!= str):
        info_2022_dias[i]=info_2022_dias[i]
        info_2022_dias[i].insert(0, "TEMP MAX",info_2022_dias_max[i]['TEMP MAX'], True)
        info_2022_dias[i].insert(2, "TEMP MIN",info_2022_dias_min[i]['TEMP MIN'], True)
        info_2022_dias[i].insert(3, "HUM MAX", info_2022_dias_max[i]['HUM MAX'], True)
        info_2022_dias[i].insert(5, "HUM MIN", info_2022_dias_min[i]['HUM MIN'], True)

In [30]:
#Juntos los datos por mes agrupandalos por máximos en temperatura y humedad
info_2022_mes_max=[]
info_2022_mes_min=[]
for i in range(len(meses)):
    x=meses[i]+'22'
    y=meses[i]+'22'
    if (type(df_22[i])!= str):
        for column in info_2022_dias[i].columns:
            x =df_22[i].groupby(['Month']).max()
            y =df_22[i].groupby(['Month']).min()
        #añado info_mes a info_2022
    info_2022_mes_max.append(x)
    info_2022_mes_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2022_mes_max[i])!= str):
        info_2022_mes_max[i]=info_2022_mes_max[i][['TEMP','%RH']]
        info_2022_mes_max[i]= info_2022_mes_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2022_mes_min[i]=info_2022_mes_min[i][['TEMP','%RH']]
        info_2022_mes_min[i]=info_2022_mes_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [31]:
#Agrupo los datos por mes
info_2022_mes=[]
for i in range(len(meses)):
    info_mes=meses[i]+'22'
    if (type(df_22[i])!= str):
        for column in info_2022_dias[i].columns:
            info_mes =df_22[i].groupby(['Month']).mean()
            info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
    info_2022_mes.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2022_mes[i])!= str):
        info_2022_mes[i]=info_2022_mes[i]
        info_2022_mes[i].insert(0, "TEMP MAX",info_2022_mes_max[i]['TEMP MAX'], True)
        info_2022_mes[i].insert(2, "TEMP MIN",info_2022_mes_min[i]['TEMP MIN'], True)
        info_2022_mes[i].insert(3, "HUM MAX", info_2022_mes_max[i]['HUM MAX'], True)
        info_2022_mes[i].insert(5, "HUM MIN", info_2022_mes_min[i]['HUM MIN'], True)

# 2023

In [32]:
df_sheets = pd.ExcelFile('med_2023.xlsx', engine="openpyxl")
hojas_23=[]
for elem in df_sheets.sheet_names:
    df = pd.read_excel('med_2023.xlsx', engine="openpyxl", sheet_name=elem)
    df.to_excel(f"{elem} {'med_2023.xlsx'}.xlsx")
    elem=pd.read_excel(f"{elem} {'med_2023.xlsx'}.xlsx")
    hojas_23.append(elem)

In [33]:
#limpio cad dataframe
for i in range(len(hojas_23)):
    hojas_23[i]=hojas_23[i][selected_columns].dropna()
    hojas_23[i]['TEMP'] = hojas_23[i]['TEMP'].astype('float64')
    hojas_23[i]['%RH'] = hojas_23[i]['%RH'].astype('float64')

In [34]:
#los clasifico por meses y año
df_23=[]
for mes in meses:
    name=mes+'23'
    df_23.append(name)
    name=pd.DataFrame()
for i in range (len(meses)):
    if (i< len(hojas_23)):
        df_23[i]=hojas_23[i]

# Agrupación de datos

In [35]:
#Creo 3 columnas separadas, para el día, mes y para la fecha
for i in range(len(meses)):
    if (type(df_23[i])!= str):
        df_23[i]['Date']=[d.date() for d in df_23[i]['TIME']]
        df_23[i]['Time']=[d.time() for d in df_23[i]['TIME']]

for i in range(len(meses)):
    if (type(df_23[i])!= str):
        df_23[i]['Month']= pd.DatetimeIndex(df_23[i]['Date']).month

In [36]:
#Creo una lista de dataframes para guardar la información de las horas, mientras que trabajo con df_20
info_23_horas=[]
for i in range(len(meses)):
    name=meses[i]+'23'
    info_23_horas.append(name)
    if (type(df_23[i])!=str):
        info_23_horas[i]=df_23[i].drop(['Month'],axis=1)

In [37]:
#Juntos los datos por días agrupandalos por máximos y minimos en temperatura y humedad
info_2023_dias_max=[]
info_2023_dias_min=[]
for i in range(len(meses)):
    x=meses[i]+'23'
    y=meses[i]+'23'
    if (type(info_23_horas[i])!= str):
        x =info_23_horas[i].groupby(['Date']).max()
        y= info_23_horas[i].groupby(['Date']).min()
        #añado info_mes a info_2023
    info_2023_dias_max.append(x)
    info_2023_dias_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2023_dias_max[i])!= str):
        info_2023_dias_max[i]=info_2023_dias_max[i][['TEMP','%RH']]
        info_2023_dias_max[i]=info_2023_dias_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2023_dias_min[i]=info_2023_dias_min[i][['TEMP','%RH']]
        info_2023_dias_min[i]=info_2023_dias_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [38]:
#Agrupo los datos por días realizando medias
info_2023_dias=[]
for i in range(len(meses)):
    info_mes=meses[i]+'23'
    if (type(info_23_horas[i])!= str):
        info_mes =info_23_horas[i].groupby(['Date']).mean()
        info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
        #añado info_mes a info_2023
    info_2023_dias.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2023_dias[i])!= str):
        info_2023_dias[i]=info_2023_dias[i]
        info_2023_dias[i].insert(0, "TEMP MAX",info_2023_dias_max[i]['TEMP MAX'], True)
        info_2023_dias[i].insert(2, "TEMP MIN",info_2023_dias_min[i]['TEMP MIN'], True)
        info_2023_dias[i].insert(3, "HUM MAX", info_2023_dias_max[i]['HUM MAX'], True)
        info_2023_dias[i].insert(5, "HUM MIN", info_2023_dias_min[i]['HUM MIN'], True)

In [39]:
#Juntos los datos por mes agrupandalos por máximos en temperatura y humedad
info_2023_mes_max=[]
info_2023_mes_min=[]
for i in range(len(meses)):
    x=meses[i]+'23'
    y=meses[i]+'23'
    if (type(df_23[i])!= str):
        for column in info_2023_dias[i].columns:
            x =df_23[i].groupby(['Month']).max()
            y =df_23[i].groupby(['Month']).min()
        #añado info_mes a info_2023
    info_2023_mes_max.append(x)
    info_2023_mes_min.append(y)
    
for i in range(len(meses)):
    if (type(info_2023_mes_max[i])!= str):
        info_2023_mes_max[i]=info_2023_mes_max[i][['TEMP','%RH']]
        info_2023_mes_max[i]= info_2023_mes_max[i].rename(columns={'TEMP':'TEMP MAX',
                                   '%RH':'HUM MAX'})
        info_2023_mes_min[i]=info_2023_mes_min[i][['TEMP','%RH']]
        info_2023_mes_min[i]=info_2023_mes_min[i].rename(columns={'TEMP':'TEMP MIN',
                                   '%RH':'HUM MIN'})

In [40]:
#Agrupo los datos por mes
info_2023_mes=[]
for i in range(len(meses)):
    info_mes=meses[i]+'23'
    if (type(df_23[i])!= str):
        for column in info_2023_dias[i].columns:
            info_mes =df_23[i].groupby(['Month']).mean()
            info_mes= info_mes.rename(columns={'TEMP':'TEMP MED','%RH':'HUM MED'})
    info_2023_mes.append(info_mes)
    
#Agrupo la temperatura y la humedad mínima y maxima
for i in range(len(meses)):
    if (type(info_2023_mes[i])!= str):
        info_2023_mes[i]=info_2023_mes[i]
        info_2023_mes[i].insert(0, "TEMP MAX",info_2023_mes_max[i]['TEMP MAX'], True)
        info_2023_mes[i].insert(2, "TEMP MIN",info_2023_mes_min[i]['TEMP MIN'], True)
        info_2023_mes[i].insert(3, "HUM MAX", info_2023_mes_max[i]['HUM MAX'], True)
        info_2023_mes[i].insert(5, "HUM MIN", info_2023_mes_min[i]['HUM MIN'], True)

In [41]:
info_2023_dias[0]

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Date,,,,,,,,
2023-01-01,12.1,9.475000,7.6,98.1,93.379167,80.3,8.904167,8.420833
2023-01-02,10.0,6.125000,3.8,97.8,88.166667,68.7,5.254167,4.241667
2023-01-03,3.9,1.708333,-0.1,97.9,95.000000,88.2,1.412500,0.987500
2023-01-04,5.6,1.758333,-0.6,98.6,97.175000,93.3,1.570833,1.358333
2023-01-05,5.6,1.841667,-0.1,98.7,97.858333,95.7,1.708333,1.541667
2023-01-06,3.1,0.795833,-0.3,99.0,98.570833,97.5,0.691667,0.583333
2023-01-07,7.3,4.225000,1.1,99.3,97.145833,89.0,4.012500,3.812500
2023-01-08,12.2,8.075000,6.4,99.0,93.658333,84.6,7.570833,7.100000
2023-01-09,11.7,7.975000,5.0,85.2,71.770833,56.2,5.779167,3.062500
2023-01-10,8.0,5.204167,2.1,95.5,87.370833,77.7,4.329167,3.258333
2023-01-11,12.1,8.512500,5.1,97.1,81.025000,60.8,7.004167,5.312500
2023-01-12,4.7,2.808333,0.2,96.1,90.829167,83.8,2.229167,1.441667
2023-01-13,11.3,7.145833,4.4,97.2,89.529167,79.1,6.333333,5.500000
2023-01-14,13.1,9.337500,6.6,96.6,84.166667,66.8,7.995833,6.654167
2023-01-15,11.2,6.645833,3.6,89.5,73.754167,54.2,4.729167,2.166667
2023-01-16,12.7,8.192000,4.3,94.2,89.276000,75.0,7.364000,6.512000
2023-01-17,9.0,4.529167,0.4,94.4,83.812500,67.3,3.437500,1.995833
2023-01-18,3.9,1.450000,0.1,97.0,89.166667,75.4,0.795833,-0.170833
2023-01-19,8.9,3.687500,1.3,98.3,92.175000,80.7,3.208333,2.504167
2023-01-20,11.2,8.816667,7.2,97.0,87.112500,73.9,7.783333,6.758333
2023-01-21,14.9,9.254167,4.7,90.7,78.300000,61.6,7.483333,5.570833
2023-01-22,6.9,3.587500,-0.5,89.5,74.004167,59.3,1.908333,-0.691667
2023-01-23,18.2,3.386957,-2.3,88.7,66.713043,36.5,1.204348,-2.717391
2023-01-24,9.1,3.391667,-2.2,88.6,70.045833,55.0,1.441667,-1.729167
2023-01-25,9.3,3.450000,-2.1,93.7,72.270833,55.0,1.612500,-1.304167
2023-01-26,6.5,2.654167,-0.2,95.9,83.883333,66.8,1.679167,0.141667
2023-01-27,8.4,3.395833,-0.3,98.1,82.962500,59.6,2.241667,0.550000
2023-01-28,9.4,4.250000,-0.6,88.6,67.154167,50.9,2.058333,-1.541667
2023-01-29,9.1,2.916667,-2.8,88.5,68.862500,50.0,0.920833,-2.491667
2023-01-30,16.5,4.287500,-2.2,86.4,63.791667,44.2,1.820833,-2.325000
2023-01-31,10.1,3.758333,-1.8,83.9,66.362500,51.1,1.533333,-2.175000

In [42]:
info_2023_mes[0]

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Month,,,,,,,,
1,18.2,4.930376,-2.8,99.3,83.104301,36.5,3.750806,2.0875

# Conversión de datos anuales a añadas
La creación de las añadas es la agrupación de los datosde noviembre hasta octubre del año siguiente

## 2020

In [43]:
#La añada 2020 por horas(noviembre 19-octubre 20)
añada_20_horas=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_20_horas.append(info)
    
añada_20_horas[4]=info_2020_horas[2]#marzo
añada_20_horas[6:11]=info_2020_horas[4:10]#mayo-oct
añada_20_horas

['mes0',
 'mes1',
 'mes2',
 'mes3',
     TEMP   %RH    WB    DP                TIME        Date      Time
 0   18.3  70.0  15.0  12.7 2020-03-13 07:25:27  2020-03-13  07:25:27
 1    9.7  76.5   7.8   5.8 2020-03-13 08:25:27  2020-03-13  08:25:27
 2   10.5  74.5   8.4   6.2 2020-03-13 09:25:27  2020-03-13  09:25:27
 3   11.8  69.2   9.1   6.3 2020-03-13 10:25:27  2020-03-13  10:25:27
 4   14.5  62.0  10.8   7.3 2020-03-13 11:25:27  2020-03-13  11:25:27
 ..   ...   ...   ...   ...                 ...         ...       ...
 68   4.1  71.8   2.3  -0.5 2020-03-16 03:25:27  2020-03-16  03:25:27
 69   4.0  70.1   2.1  -0.9 2020-03-16 04:25:27  2020-03-16  04:25:27
 70   3.7  73.3   2.0  -0.6 2020-03-16 05:25:27  2020-03-16  05:25:27
 71   3.9  71.0   2.1  -0.9 2020-03-16 06:25:27  2020-03-16  06:25:27
 72   3.7  71.3   1.9  -1.0 2020-03-16 07:25:27  2020-03-16  07:25:27

 [73 rows x 7 columns],
 'mes5',
      TEMP   %RH    WB    DP                TIME        Date      Time
 0    11.8  95.5  11.4  11.1 2020-05-01 00:02:50  2020-05-01  00:02:50
 1    11.8  95.8  11.4  11.2 2020-05-01 01:02:50  2020-05-01  01:02:50
 2    11.9  95.4  11.5  11.2 2020-05-01 02:02:50  2020-05-01  02:02:50
 3    12.0  95.1  11.6  11.2 2020-05-01 03:02:50  2020-05-01  03:02:50
 4    12.0  96.2  11.7  11.4 2020-05-01 04:02:50  2020-05-01  04:02:50
 ..    ...   ...   ...   ...                 ...         ...       ...
 739  22.1  63.5  17.6  14.9 2020-05-31 19:16:18  2020-05-31  19:16:18
 740  20.7  64.8  16.5  13.8 2020-05-31 20:16:18  2020-05-31  20:16:18
 741  20.5  62.1  16.0  13.0 2020-05-31 21:16:18  2020-05-31  21:16:18
 742  19.8  62.0  15.4  12.3 2020-05-31 22:16:18  2020-05-31  22:16:18
 743  18.9  68.1  15.3  12.9 2020-05-31 23:16:18  2020-05-31  23:16:18

 [744 rows x 7 columns],
      TEMP   %RH    WB    DP                TIME        Date      Time
 0    18.5  69.4  15.1  12.8 2020-06-01 00:31:27  2020-06-01  00:31:27
 1    17.5  73.1  14.6  12.6 2020-06-01 01:31:27  2020-06-01  01:31:27
 2    17.4  71.8  14.4  12.3 2020-06-01 02:31:27  2020-06-01  02:31:27
 3    16.6  73.9  13.9  11.9 2020-06-01 03:31:27  2020-06-01  03:31:27
 4    16.8  73.6  14.0  12.1 2020-06-01 04:31:27  2020-06-01  04:31:27
 ..    ...   ...   ...   ...                 ...         ...       ...
 713  27.0  49.1  19.7  15.4 2020-06-30 19:00:05  2020-06-30  19:00:05
 714  26.3  57.5  20.4  17.2 2020-06-30 20:00:05  2020-06-30  20:00:05
 715  25.1  61.6  20.0  17.2 2020-06-30 21:00:05  2020-06-30  21:00:05
 716  23.7  63.5  19.0  16.4 2020-06-30 22:00:05  2020-06-30  22:00:05
 717  22.5  67.0  18.4  16.1 2020-06-30 23:00:05  2020-06-30  23:00:05

 [718 rows x 7 columns],
      TEMP   %RH    WB    DP                TIME        Date      Time
 0    21.6  69.0  17.9  15.7 2020-07-01 00:07:01  2020-07-01  00:07:01
 1    21.6  69.7  17.9  15.8 2020-07-01 01:07:01  2020-07-01  01:07:01
 2    20.7  73.5  17.6  15.8 2020-07-01 02:07:01  2020-07-01  02:07:01
 3    19.3  79.2  17.0  15.6 2020-07-01 03:07:01  2020-07-01  03:07:01
 4    19.0  77.9  16.5  15.1 2020-07-01 04:07:01  2020-07-01  04:07:01
 ..    ...   ...   ...   ...                 ...         ...       ...
 739  28.3  35.9  18.8  11.8 2020-07-31 19:45:32  2020-07-31  19:45:32
 740  25.3  46.4  18.0  13.0 2020-07-31 20:45:32  2020-07-31  20:45:32
 741  23.9  52.3  17.7  13.5 2020-07-31 21:45:32  2020-07-31  21:45:32
 742  23.7  52.6  17.5  13.4 2020-07-31 22:45:32  2020-07-31  22:45:32
 743  23.2  52.5  17.1  12.9 2020-07-31 23:45:32  2020-07-31  23:45:32

 [744 rows x 7 columns],
      TEMP   %RH    WB    DP                TIME        Date      Time
 0    21.9  56.5  16.5  12.9 2020-08-01 00:45:32  2020-08-01  00:45:32
 1    21.1  59.2  16.2  12.8 2020-08-01 01:45:32  2020-08-01  01:45:32
 2    20.4  60.0  15.7  12.4 2020-08-01 02:45:32  2020-08-01  02:45:32
 3    19.5  60.9  15.0  11.8 2020-08-01 03:45:32  2020-08-01  03:45:32
 4    18.9  61.3  14.6  11.3 2020-08-01 04:45:32  2020-08-01  04:45:32
 ..    ...   ...   ...   ...                 ...         ...       ...
 690  22.3  36.3  14.4   6.6 2020-08-31 19:16:37  2020-08-31  19:16:37
 691  20.3  39.1  13.2   5.9 2020-08-31 20:16:37  2020-08-31  20:16:37
 692  19.8  39.7  12.9   5.7 2020-08-31 21:16:37  2020-08-31  21:16:37
 693  19.0  42.9  12.6   6.1 2020-08-31 22:16:37  2020-08-31  22:16:37
 694  18.4  47.9  12.7   7.2 2020-08-31 23:16:37  2020-08-31  23:16:37

 [695 rows x 7 columns],
      TEMP   %RH    WB   DP                TIME        Date      Time
 0    17.3  53.1  12.3  7.7 2020-09-01 00:16:37  2020-09-01  00:16:37
 1    17.0  54.5  12.2  7.8 2020-09-01 01:16:37  2020-09-01  01:16:37
 2    16.3  56.7  11.8  7.7 2020-09-01 02:16:37  2020-09-01  02:16:37
 3    15.7  61.8  11.8  8.4 2020-09-01 03:16:37  2020-09-01  03:16:37
 4    15.2  62.0  11.4  8.0 2020-09-01 04:16:37  2020-09-01  04:16:37
 ..    ...   ...   ...  ...                 ...         ...       ...
 714  17.4  53.3  12.4  7.8 2020-09-30 19:55:45  2020-09-30  19:55:45
 715  16.2  58.4  11.9  8.0 2020-09-30 20:55:45  2020-09-30  20:55:45
 716  15.2  63.6  11.6  8.4 2020-09-30 21:55:45  2020-09-30  21:55:45
 717  14.0  65.7  10.7  7.7 2020-09-30 22:55:45  2020-09-30  22:55:45
 718  13.9  65.9  10.7  7.6 2020-09-30 23:55:45  2020-09-30  23:55:45

 [719 rows x 7 columns],
      TEMP   %RH    WB    DP                TIME        Date      Time
 0    13.7  70.9  11.0   8.5 2020-10-01 00:55:45  2020-10-01  00:55:45
 1    13.2  75.9  11.0   9.0 2020-10-01 01:55:45  2020-10-01  01:55:45
 2    12.7  84.9  11.3  10.2 2020-10-01 02:55:45  2020-10-01  02:55:45
 3    12.7  84.1  11.3  10.1 2020-10-01 03:55:45  2020-10-01  03:55:45
 4    12.4  87.8  11.3  10.4 2020-10-01 04:55:45  2020-10-01  04:55:45
 ..    ...   ...   ...   ...                 ...         ...       ...
 739  15.3  79.8  13.3  11.8 2020-10-31 19:56:16  2020-10-31  19:56:16
 740  15.3  79.5  13.3  11.8 2020-10-31 20:56:16  2020-10-31  20:56:16
 741  15.2  79.0  13.1  11.6 2020-10-31 21:56:16  2020-10-31  21:56:16
 742  15.0  79.7  13.0  11.5 2020-10-31 22:56:16  2020-10-31  22:56:16
 743  15.0  79.5  13.0  11.5 2020-10-31 23:56:16  2020-10-31  23:56:16

 [744 rows x 7 columns],
 'mes11']

In [44]:
#La añada 2020 por dias(noviembre 19-octubre 20)
añada_20_dias=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_20_dias.append(info)
    
añada_20_dias[4]=info_2020_dias[2]#marzo
añada_20_dias[6:11]=info_2020_dias[4:10]#mayo-oct
añada_20_dias

['mes0',
 'mes1',
 'mes2',
 'mes3',
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-03-13      18.3  14.347059       9.6     76.5  61.841176     51.6
 2020-03-14      19.0  11.054167       4.6     90.5  64.562500     38.5
 2020-03-15      17.2   9.187500       4.0     79.3  58.870833     36.7
 2020-03-16       4.2   3.950000       3.7     74.0  71.800000     70.1

                    WB        DP
 Date
 2020-03-13  10.623529  7.000000
 2020-03-14   7.812500  3.995833
 2020-03-15   5.770833  1.112500
 2020-03-16   2.162500 -0.650000  ,
 'mes5',
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-05-01      18.6  14.658333      11.8     96.8  86.116667     71.2
 2020-05-02      23.9  17.562500      12.6     96.4  69.195833     45.7
 2020-05-03      27.3  20.375000      10.7     89.2  56.075000     34.4
 2020-05-04      24.9  19.270833      14.0     62.9  52.762500     39.0
 2020-05-05      23.6  16.191667      10.8     73.8  56.158333     40.8
 2020-05-06      25.6  17.954167       9.7     81.6  54.087500     28.7
 2020-05-07      28.6  21.116667      11.7     78.2  53.654167     34.1
 2020-05-08      25.8  18.629167      13.4     93.2  70.887500     47.8
 2020-05-09      24.1  16.254167      11.4     90.8  69.904167     42.9
 2020-05-10      22.1  14.704167      10.0     94.4  69.091667     43.3
 2020-05-11      25.3  17.362500       9.6     85.8  60.800000     38.8
 2020-05-12      18.2  14.075000      12.0     89.9  79.204167     64.8
 2020-05-13      20.3  14.454167      10.7     94.6  75.087500     52.1
 2020-05-14      18.6  13.275000      10.7     94.7  81.933333     63.5
 2020-05-15      21.7  14.241667      10.1     81.1  65.470833     47.2
 2020-05-16      23.0  16.645833       7.9     75.2  53.237500     34.5
 2020-05-17      26.3  19.183333       9.7     73.7  46.245833     11.4
 2020-05-18      29.9  21.516667      11.8     73.4  45.645833     21.4
 2020-05-19      30.8  23.479167      13.7     68.8  45.312500     26.3
 2020-05-20      33.3  24.762500      15.7     69.0  46.537500     26.0
 2020-05-21      31.9  24.183333      15.7     69.6  47.512500     26.4
 2020-05-22      30.5  23.712500      16.0     74.7  49.745833     30.2
 2020-05-23      28.9  21.487500      14.5     78.9  55.225000     35.5
 2020-05-24      30.2  22.520833      13.7     75.1  52.541667     34.0
 2020-05-25      31.9  24.791667      18.0     66.2  46.129167     22.3
 2020-05-26      30.3  23.687500      15.6     54.6  38.741667     31.6
 2020-05-27      30.7  24.866667      17.6     59.8  44.933333     35.3
 2020-05-28      33.6  26.962500      20.0     61.1  43.133333     22.1
 2020-05-29      34.9  27.170833      18.5     66.1  41.762500     13.7
 2020-05-30      33.8  26.625000      17.5     57.5  39.450000     20.8
 2020-05-31      27.5  21.283333      18.1     71.6  59.879167     42.8

                    WB         DP
 Date
 2020-05-01  13.245833  12.275000
 2020-05-02  13.979167  11.237500
 2020-05-03  14.741667  10.337500
 2020-05-04  13.837500   9.229167
 2020-05-05  11.570833   7.108333
 2020-05-06  12.595833   7.600000
 2020-05-07  15.225000  10.766667
 2020-05-08  15.191667  12.862500
 2020-05-09  12.945833  10.175000
 2020-05-10  11.479167   8.637500
 2020-05-11  12.879167   9.058333
 2020-05-12  12.066667  10.483333
 2020-05-13  11.887500   9.791667
 2020-05-14  11.545833  10.179167
 2020-05-15  10.779167   7.608333
 2020-05-16  11.495833   6.466667
 2020-05-17  12.970833   5.562500
 2020-05-18  14.608333   8.300000
 2020-05-19  16.033333  10.200000
 2020-05-20  17.258333  11.879167
 2020-05-21  16.854167  11.383333
 2020-05-22  16.891667  11.945833
 2020-05-23  15.762500  11.529167
 2020-05-24  16.245833  11.700000
 2020-05-25  17.270833  11.500000
 2020-05-26  15.629167   8.583333
 2020-05-27  17.241667  11.766667
 2020-05-28  18.558333  12.595833
 2020-05-29  18.529167  11.475000
 2020-05-30  17.729167  10.779167
 2020-05-31  16.366667  13.016667  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-06-01      30.8  23.500000      15.0     81.7  56.143478     33.4
 2020-06-02      30.5  22.008333      17.1     77.6  60.195833     38.2
 2020-06-03      28.4  20.595833      15.6     81.3  62.600000     43.0
 2020-06-04      20.7  15.625000      11.4     73.8  59.525000     45.1
 2020-06-05      27.1  18.895833       8.5     83.1  54.720833     35.0
 2020-06-06      28.2  20.137500      13.4     80.3  57.250000     34.8
 2020-06-07      22.0  16.016667      11.0     73.1  56.483333     36.7
 2020-06-08      22.5  16.417391       8.4     68.3  51.521739     34.9
 2020-06-09      23.3  16.658333       8.0     80.4  53.487500     31.9
 2020-06-10      25.3  18.987500      11.2     76.1  51.841667     34.6
 2020-06-11      17.4  13.558333       9.5     82.9  68.020833     52.2
 2020-06-12      14.7  11.220833       8.5     93.0  80.737500     66.7
 2020-06-13      18.3  12.779167       9.4     89.0  73.595833     51.7
 2020-06-14      19.3  13.383333       9.5     84.2  70.958333     50.1
 2020-06-15      20.2  15.233333      10.6     84.8  67.541667     50.1
 2020-06-16      22.6  15.654167      11.5     88.7  69.875000     47.8
 2020-06-17      22.0  15.545833      11.0     75.8  61.804167     41.8
 2020-06-18      24.0  17.483333      10.4     80.1  56.737500     39.7
 2020-06-19      26.6  19.204167       9.9     84.0  54.795833     36.9
 2020-06-20      29.7  21.425000      12.4     79.6  51.350000     26.2
 2020-06-21      28.1  21.633333      12.8     64.8  51.862500     36.2
 2020-06-22      33.5  25.404167      14.8     81.0  48.250000     23.6
 2020-06-23      36.7  28.937500      18.6     55.5  35.141667     17.3
 2020-06-24      38.3  25.770833      16.7     94.7  53.850000     19.9
 2020-06-25      32.8  22.841667      14.5     95.0  67.295833     38.0
 2020-06-26      28.7  21.108333      15.6     80.0  59.995833     34.4
 2020-06-27      24.3  20.362500      16.7     80.1  64.904167     54.0
 2020-06-28      27.6  20.687500      14.2     77.6  63.104167     43.8
 2020-06-29      31.6  24.395833      16.4     80.4  53.258333     26.4
 2020-06-30      33.5  25.329167      17.2     67.0  52.333333     34.0

                    WB         DP
 Date
 2020-06-01  17.486957  13.526087
 2020-06-02  16.879167  13.500000
 2020-06-03  15.962500  12.783333
 2020-06-04  11.483333   7.620833
 2020-06-05  13.416667   8.850000
 2020-06-06  14.845833  10.804167
 2020-06-07  11.416667   6.900000
 2020-06-08  11.213043   5.947826
 2020-06-09  11.495833   6.316667
 2020-06-10  13.262500   8.120833
 2020-06-11  10.529167   7.666667
 2020-06-12   9.529167   7.987500
 2020-06-13  10.254167   7.945833
 2020-06-14  10.554167   7.995833
 2020-06-15  11.883333   8.983333
 2020-06-16  12.450000   9.816667
 2020-06-17  11.570833   7.975000
 2020-06-18  12.583333   8.233333
 2020-06-19  13.737500   9.170833
 2020-06-20  15.095833   9.929167
 2020-06-21  15.533333  10.979167
 2020-06-22  17.712500  12.166667
 2020-06-23  18.800000  10.712500
 2020-06-24  18.712500  14.029167
 2020-06-25  18.237500  15.620833
 2020-06-26  16.020833  12.358333
 2020-06-27  16.179167  13.408333
 2020-06-28  16.116667  13.112500
 2020-06-29  17.779167  13.366667
 2020-06-30  18.529167  14.345833  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-07-01      27.5  21.929167      17.6     81.5  62.437500     41.9
 2020-07-02      24.1  18.712500      14.2     74.6  57.558333     38.8
 2020-07-03      27.6  18.179167      10.9     74.9  55.295833     32.7
 2020-07-04      30.6  21.591667      14.5     75.8  55.995833     32.2
 2020-07-05      34.2  24.854167      18.8     68.9  55.429167     35.1
 2020-07-06      34.0  27.287500      19.1     76.2  54.287500     37.1
 2020-07-07      35.5  28.558333      20.3     59.8  41.037500     20.1
 2020-07-08      37.6  27.545833      21.4     59.4  43.358333     20.7
 2020-07-09      35.6  27.112500      19.8     59.3  44.533333     19.3
 2020-07-10      33.1  25.762500      17.7     72.8  50.441667     33.2
 2020-07-11      34.3  26.645833      18.0     64.8  46.116667     28.3
 2020-07-12      34.0  26.891667      20.4     66.4  47.695833     29.3
 2020-07-13      33.6  25.941667      18.3     73.0  49.183333     28.7
 2020-07-14      31.6  24.058333      17.0     65.5  43.554167     31.7
 2020-07-15      33.1  25.083333      14.0     65.7  41.754167     21.4
 2020-07-16      33.3  26.925000      18.2     63.5  42.366667     25.6
 2020-07-17      35.5  28.750000      19.0     54.0  30.883333     10.8
 2020-07-18      36.3  29.187500      19.2     47.4  30.554167     19.2
 2020-07-19      37.2  29.266667      21.2     64.1  42.054167     17.0
 2020-07-20      34.9  27.358333      18.4     79.4  51.766667     30.9
 2020-07-21      34.7  26.054167      18.9     69.4  51.537500     31.4
 2020-07-22      35.9  28.712500      20.6     59.8  42.545833     27.1
 2020-07-23      35.2  27.533333      19.6     60.7  39.879167     18.9
 2020-07-24      32.9  25.608333      16.6     71.1  41.662500     24.2
 2020-07-25      33.1  25.516667      16.9     65.7  43.858333     16.2
 2020-07-26      35.0  27.095833      17.3     70.7  42.704167     24.3
 2020-07-27      35.7  27.604167      18.7     65.3  44.395833     21.1
 2020-07-28      33.0  25.950000      18.5     80.2  55.183333     36.7
 2020-07-29      36.6  28.358333      19.2     66.8  47.712500     24.8
 2020-07-30      38.8  28.816667      21.5     65.6  46.762500     24.7
 2020-07-31      35.3  27.183333      18.3     77.9  47.220833     18.5

                    WB         DP
 Date
 2020-07-01  17.162500  14.075000
 2020-07-02  13.837500   9.725000
 2020-07-03  12.945833   8.400000
 2020-07-04  15.858333  11.779167
 2020-07-05  18.600000  14.854167
 2020-07-06  20.420833  16.666667
 2020-07-07  19.445833  12.945833
 2020-07-08  18.987500  13.229167
 2020-07-09  18.850000  13.220833
 2020-07-10  18.620833  14.145833
 2020-07-11  18.654167  13.354167
 2020-07-12  19.133333  14.208333
 2020-07-13  18.587500  13.825000
 2020-07-14  16.445833  10.541667
 2020-07-15  16.895833  10.333333
 2020-07-16  18.391667  12.437500
 2020-07-17  18.387500   7.841667
 2020-07-18  18.420833   9.395833
 2020-07-19  20.133333  14.220833
 2020-07-20  20.029167  15.787500
 2020-07-21  19.029167  14.762500
 2020-07-22  19.737500  14.054167
 2020-07-23  18.541667  11.962500
 2020-07-24  17.329167  11.012500
 2020-07-25  17.483333  11.108333
 2020-07-26  18.454167  12.295833
 2020-07-27  19.154167  13.533333
 2020-07-28  19.483333  15.750000
 2020-07-29  20.225000  15.495833
 2020-07-30  20.437500  15.450000
 2020-07-31  19.150000  13.400000  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-08-01      30.1  24.062500      17.5     71.9  52.116667     40.9
 2020-08-02      28.9  22.391667      14.5     78.8  52.591667     35.1
 2020-08-03      30.1  23.166667      15.7     69.9  50.395833     33.3
 2020-08-04      22.6  17.900000      15.5     82.1  71.657143     57.2
 2020-08-06      39.1  33.005882      19.4     67.0  30.676471     18.7
 2020-08-07      36.0  29.358333      21.2     69.4  42.566667     25.3
 2020-08-08      38.4  29.270833      20.9     64.4  45.845833     26.9
 2020-08-09      35.5  28.675000      22.7     63.4  46.804167     29.3
 2020-08-10      34.0  25.604167      19.3     80.2  57.645833     32.1
 2020-08-11      33.7  22.579167      15.7     93.4  63.900000     30.6
 2020-08-12      18.2  16.275000      14.7     93.2  86.675000     74.0
 2020-08-13      27.6  18.854167      11.8     87.5  63.950000     39.8
 2020-08-14      30.6  21.579167      12.5     85.4  56.712500     32.2
 2020-08-15      26.1  20.125000      15.0     81.4  56.025000     36.8
 2020-08-16      22.9  17.587500      13.7     91.3  65.991667     43.3
 2020-08-17      19.6  15.904167      14.5     98.0  94.412500     82.4
 2020-08-18      23.1  18.125000      14.6     98.4  85.195833     65.5
 2020-08-19      27.6  21.587500      14.4     88.0  64.483333     43.6
 2020-08-20      30.1  21.595833      16.5     96.7  70.512500     41.0
 2020-08-21      27.4  19.920833      12.5     75.0  56.454167     37.6
 2020-08-22      28.0  20.883333      12.6     83.4  55.520833     36.3
 2020-08-23      30.4  21.625000      13.1     78.9  55.808333     24.9
 2020-08-24      30.7  23.866667      15.1     85.4  52.587500     32.2
 2020-08-25      31.7  24.678261      15.7     74.0  49.873913     32.7
 2020-08-26      31.8  24.308333      16.4     83.1  60.395833     41.5
 2020-08-27      30.9  23.400000      18.2     85.7  66.562500     43.3
 2020-08-28      25.5  19.304167      13.5     84.4  57.729167     37.3
 2020-08-29      20.3  15.029167      12.0     77.9  63.420833     43.5
 2020-08-30      23.5  16.195833      10.8     77.6  56.216667     30.5
 2020-08-31      24.2  17.104167      10.8     69.5  51.316667     31.5

                    WB         DP
 Date
 2020-08-01  17.604167  13.366667
 2020-08-02  16.154167  11.608333
 2020-08-03  16.508333  11.704167
 2020-08-04  14.771429  12.614286
 2020-08-06  21.052941  12.300000
 2020-08-07  20.295833  14.716667
 2020-08-08  20.679167  15.716667
 2020-08-09  20.445833  15.600000
 2020-08-10  19.512500  16.020833
 2020-08-11  17.545833  14.370833
 2020-08-12  14.908333  14.033333
 2020-08-13  14.520833  11.416667
 2020-08-14  15.895833  11.850000
 2020-08-15  14.820833  10.491667
 2020-08-16  13.800000  10.841667
 2020-08-17  15.325000  14.987500
 2020-08-18  16.416667  15.391667
 2020-08-19  17.020833  14.120833
 2020-08-20  17.795833  15.387500
 2020-08-21  14.587500  10.479167
 2020-08-22  15.241667  10.958333
 2020-08-23  15.870833  11.604167
 2020-08-24  17.308333  12.716667
 2020-08-25  17.673913  12.969565
 2020-08-26  18.791667  15.637500
 2020-08-27  18.925000  16.404167
 2020-08-28  14.358333  10.241667
 2020-08-29  11.337500   7.966667
 2020-08-30  11.479167   6.841667
 2020-08-31  11.737500   6.366667  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-09-01      28.6  20.187500      13.9     68.8  52.370833     32.6
 2020-09-02      29.7  21.262500      12.6     81.1  55.179167     31.1
 2020-09-03      31.8  23.225000      15.2     74.2  50.579167     28.1
 2020-09-04      33.0  24.883333      15.5     68.1  44.691667     20.5
 2020-09-05      31.3  23.837500      17.1     74.0  54.604167     36.7
 2020-09-06      29.0  21.700000      15.1     75.1  54.054167     33.3
 2020-09-07      27.3  20.854167      13.2     65.9  44.925000     26.1
 2020-09-08      26.9  21.008333      14.3     60.6  40.870833     25.1
 2020-09-09      33.9  23.483333      13.9     57.1  39.029167     19.2
 2020-09-10      34.4  24.675000      16.6     61.3  43.354167     23.6
 2020-09-11      31.6  25.070833      17.9     61.0  43.604167     25.4
 2020-09-12      37.0  26.712500      18.4     59.1  37.979167     20.4
 2020-09-13      36.0  27.154167      19.4     45.3  31.870833     17.3
 2020-09-14      29.7  23.504167      19.8     69.0  47.591667     36.2
 2020-09-15      29.9  22.775000      16.5     81.6  55.454167     36.4
 2020-09-16      29.6  22.783333      14.3     71.7  47.770833     31.6
 2020-09-17      27.2  20.595652      16.8     82.2  64.226087     45.4
 2020-09-18      25.7  18.645833      14.4     96.4  74.466667     42.2
 2020-09-19      22.9  17.637500      14.3     82.6  71.779167     54.0
 2020-09-20      20.7  15.775000      13.8     97.4  91.241667     80.7
 2020-09-21      25.0  17.550000      13.7     97.4  75.904167     45.3
 2020-09-22      23.5  16.404167      11.9     88.2  70.795833     41.2
 2020-09-23      20.6  16.166667      13.7     97.5  82.575000     61.2
 2020-09-24      19.7  14.295833      10.8     88.6  71.925000     47.4
 2020-09-25      15.0  11.350000       8.9     79.8  69.162500     56.0
 2020-09-26      17.1  12.737500       9.4     86.0  76.612500     63.7
 2020-09-27      22.1  16.600000      12.0     88.4  60.462500     39.9
 2020-09-28      21.4  15.262500       7.1     80.2  58.004167     41.2
 2020-09-29      25.7  18.125000      10.7     80.6  56.012500     34.6
 2020-09-30      24.8  17.170833      10.2     78.6  55.562500     25.8

                    WB         DP
 Date
 2020-09-01  14.404167   9.658333
 2020-09-02  15.454167  10.995833
 2020-09-03  16.441667  11.383333
 2020-09-04  17.066667  10.962500
 2020-09-05  17.650000  13.691667
 2020-09-06  15.845833  11.508333
 2020-09-07  14.075000   7.808333
 2020-09-08  13.779167   6.470833
 2020-09-09  15.395833   7.675000
 2020-09-10  16.712500  10.404167
 2020-09-11  17.112500  11.041667
 2020-09-12  17.545833  10.095833
 2020-09-13  17.195833   8.216667
 2020-09-14  16.625000  11.470833
 2020-09-15  16.854167  12.691667
 2020-09-16  15.825000  10.375000
 2020-09-17  16.239130  13.295652
 2020-09-18  15.562500  13.400000
 2020-09-19  14.520833  12.333333
 2020-09-20  14.879167  14.312500
 2020-09-21  14.766667  12.754167
 2020-09-22  13.200000  10.700000
 2020-09-23  14.304167  13.000000
 2020-09-24  11.483333   9.025000
 2020-09-25   8.637500   5.829167
 2020-09-26  10.579167   8.679167
 2020-09-27  12.300000   8.258333
 2020-09-28  10.879167   6.595833
 2020-09-29  13.025000   8.587500
 2020-09-30  12.225000   7.454167  ,
             TEMP MAX   TEMP MED  TEMP MIN  HUM MAX    HUM MED  HUM MIN  \
 Date
 2020-10-01      18.9  14.137500      11.4     94.3  73.741667     48.6
 2020-10-02      13.8   9.675000       5.8     95.4  82.737500     63.4
 2020-10-03      12.6   9.350000       6.6     89.1  80.829167     66.3
 2020-10-04      16.1  10.812500       8.9     96.1  80.329167     56.1
 2020-10-05      18.6  12.766667       8.6     94.1  78.745833     53.2
 2020-10-06      23.1  16.966667      13.5     94.7  76.166667     55.9
 2020-10-07      25.0  18.216667      13.3     91.1  71.529167     51.0
 2020-10-08      23.6  17.083333      11.1     94.1  73.758333     54.4
 2020-10-09      22.5  16.258333      12.5     93.5  75.729167     55.2
 2020-10-10      21.4  14.600000       9.8     90.8  70.304167     50.2
 2020-10-11      18.7  12.433333       5.9     85.6  62.370833     41.7
 2020-10-12      19.7  12.695833       4.6     84.5  67.300000     44.0
 2020-10-13      20.4  14.525000       9.7     89.4  69.000000     49.0
 2020-10-14      17.9  11.325000       8.2     80.1  67.145833     48.7
 2020-10-15      17.9  11.666667       8.4     78.2  64.533333     45.1
 2020-10-16      16.9  10.200000       3.1     81.6  60.325000     41.9
 2020-10-17      17.0  11.258333       5.8     82.5  65.491667     46.7
 2020-10-18      20.9  14.187500       7.2     89.4  63.187500     42.9
 2020-10-19      21.7  15.191667      11.8     93.3  58.654167     35.8
 2020-10-20      14.2  12.058333      11.3     98.5  92.800000     82.9
 2020-10-21      16.5  12.008333       9.9     98.6  87.566667     62.2
 2020-10-22      15.8  11.300000       8.9     97.4  87.125000     70.2
 2020-10-23      16.9  11.133333       8.2     95.3  79.341667     61.0
 2020-10-24      14.3  11.304167       8.3     87.8  79.683333     70.2
 2020-10-25      12.9   9.875000       5.0     96.5  87.887500     71.5
 2020-10-26      15.4   7.908333       4.4     95.3  84.779167     63.2
 2020-10-27      12.9   9.675000       7.3     98.5  90.275000     78.7
 2020-10-28      16.1  11.416667       8.7     98.7  81.529167     57.6
 2020-10-29      15.3   9.587500       4.9     96.5  83.666667     62.2
 2020-10-30      17.0  11.658333       5.5     94.7  75.291667     52.3
 2020-10-31      16.2  12.670833       8.2     95.5  83.145833     72.9

                    WB         DP
 Date
 2020-10-01  11.508333   9.162500
 2020-10-02   8.270833   6.841667
 2020-10-03   7.779167   6.183333
 2020-10-04   9.087500   7.445833
 2020-10-05  10.750000   9.025000
 2020-10-06  14.345833  12.504167
 2020-10-07  14.875000  12.600000
 2020-10-08  14.133333  12.079167
 2020-10-09  13.633333  11.720833

In [45]:
#La añada 2020 info meses (noviembre 19-octubre 20)
añada_20_mes=[]
for i in range(len(meses)):
    info= 'mes'+str(i) 
    añada_20_mes.append(info)
    
añada_20_mes[4]=info_2020_mes[2]#marzo
añada_20_mes[6:11]=info_2020_mes[4:10]#mayo-oct
añada_20_mes[11]

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Month,,,,,,,,
10,25.0,12.385349,3.1,98.7,75.966801,35.8,10.085484,7.919086

## 2021

In [46]:
#La añada 2021 por horas(noviembre 20-octubre 21)
añada_21_horas=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_21_horas.append(info)
    
añada_21_horas[0:1]=info_2020_horas[10:12]#nov-dic 20
añada_21_horas[2:11]=info_21_horas[0:10]#enero-oct 21

In [47]:
#La añada 2021 (noviembre 20-octubre 21)
añada_21_dias=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_21_dias.append(info)
    
añada_21_dias[0:1]=info_2020_dias[10:12]#nov-dic 20
añada_21_dias[2:11]=info_2021_dias[0:10]#enero-oct 21

In [48]:
#La añada 2021 info mes(noviembre 20-octubre 21)
añada_21_mes=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_21_mes.append(info)
    
añada_21_mes[0:1]=info_2020_mes[10:12]#nov-dic 20
añada_21_mes[2:11]=info_2021_mes[0:10]#enero-oct 21

## 2022

In [49]:
info_2022_mes[9]

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Month,,,,,,,,
10,28.0,16.246631,8.0,98.4,70.186927,26.2,12.939084,10.236927

In [50]:
#La añada 2022 por horas(noviembre 21-octubre 22)
añada_22_horas=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_22_horas.append(info)
    
añada_22_horas[0:1]=info_21_horas[10:12]#nov-dic 21
añada_22_horas[2:11]=info_22_horas[0:10]#enero-oct 22

In [51]:
#La añada 2022 (noviembre 21-octubre 22)
añada_22_dias=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_22_dias.append(info)
    
añada_22_dias[0:1]=info_2021_dias[10:12]#nov-dic 21
añada_22_dias[2:11]=info_2022_dias[0:10]#enero-oct 22

In [52]:
#La añada 2022 info mes(noviembre 21-octubre 22)
añada_22_mes=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_22_mes.append(info)
    
añada_22_mes[0:1]=info_2021_mes[10:12]#nov-dic 21
añada_22_mes[2:11]=info_2022_mes[0:10]#enero-oct 22

## 2023

In [53]:
#La añada 2023 por horas(noviembre 22-octubre 23)
añada_23_horas=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_23_horas.append(info)
    
añada_23_horas[0:1]=info_22_horas[10:12]#nov-dic 22
añada_23_horas[2:4]=info_23_horas[0:3]#enero-marzo 23

In [54]:
#La añada 2023 (noviembre 22-octubre 23)
añada_23_dias=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_23_dias.append(info)
    
añada_23_dias[0:1]=info_2022_dias[10:12]#nov-dic 22
añada_23_dias[2:4]=info_2023_dias[0:3]#enero-marzo 23

In [55]:
#La añada 2023 info mes(noviembre 22-octubre 23)
añada_23_mes=[]
for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_23_mes.append(info)
    
añada_23_mes[0:1]=info_2022_mes[10:12]#nov-dic 22
añada_23_mes[2:4]=info_2023_mes[0:3]#enero-marzo 23

In [56]:
añada_22_dias[2]

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Date,,,,,,,,
2022-01-01,15.3,11.075000,7.1,80.7,66.595833,48.7,8.120833,4.920833
2022-01-02,15.1,11.929167,8.6,89.2,71.004167,48.0,9.295833,6.625000
2022-01-03,12.9,8.766667,4.7,95.2,81.412500,64.9,7.195833,5.608333
2022-01-04,12.4,8.695833,5.0,85.4,72.337500,50.3,6.454167,3.816667
2022-01-05,5.4,4.775000,3.6,96.4,90.866667,80.6,4.170833,3.391667
2022-01-06,9.1,5.433333,3.1,97.5,90.995833,79.6,4.775000,4.050000
2022-01-07,10.7,7.404167,5.2,90.7,73.775000,57.1,5.412500,2.854167
2022-01-08,8.4,3.750000,-0.5,94.8,83.779167,69.0,2.662500,1.195833
2022-01-09,12.7,9.225000,5.4,95.9,90.991667,81.8,8.491667,7.816667
2022-01-10,13.5,10.595833,8.3,95.7,85.245833,70.5,9.316667,8.154167
2022-01-11,8.6,6.670833,5.4,97.3,93.170833,83.6,6.166667,5.633333
2022-01-12,10.8,6.154167,3.2,98.2,84.191667,51.5,4.954167,3.345833
2022-01-13,11.4,6.095833,0.5,60.4,44.558333,28.6,2.466667,-5.395833
2022-01-14,9.3,4.583333,-0.4,76.5,58.483333,45.0,1.875000,-3.045833
2022-01-15,8.1,3.154167,-2.1,84.0,64.200000,46.7,0.895833,-3.175000
2022-01-16,9.1,3.025000,-0.8,87.5,76.045833,58.6,1.500000,-0.875000
2022-01-17,10.4,4.916667,-0.4,97.7,78.675000,59.8,3.400000,1.370833
2022-01-18,10.3,5.200000,0.3,91.3,73.987500,54.1,3.333333,0.679167
2022-01-19,10.0,4.975000,-0.6,91.0,72.504167,55.5,3.025000,0.208333
2022-01-20,11.2,5.812500,0.4,85.4,70.020833,53.5,3.637500,0.579167
2022-01-21,10.4,4.870833,-0.4,89.0,69.787500,45.8,2.775000,-0.441667
2022-01-22,10.3,4.770833,-0.1,72.9,54.591667,33.7,1.795833,-4.158333
2022-01-23,11.4,6.125000,0.2,70.8,53.316667,35.0,2.875000,-2.954167
2022-01-24,10.3,5.362500,-0.2,79.8,63.162500,51.0,2.820833,-1.262500
2022-01-25,10.6,5.220833,-0.3,85.9,66.254167,47.7,2.829167,-0.866667
2022-01-26,11.2,5.366667,-0.3,84.7,62.700000,41.3,2.766667,-1.583333
2022-01-27,14.3,7.345833,1.3,69.3,50.933333,37.4,3.770833,-2.416667
2022-01-28,14.9,7.516667,-0.1,59.1,38.337500,18.9,3.341667,-6.833333
2022-01-29,15.5,8.383333,0.7,47.9,32.883333,19.5,3.783333,-7.479167
2022-01-30,14.4,8.604167,2.1,46.5,36.804167,27.0,4.112500,-5.454167
2022-01-31,12.5,6.566667,-0.4,76.1,49.520833,40.2,3.062500,-3.420833

# Datos climatológicos inforiego

In [57]:
#Leo los nuevos datos meteorologicos aportados por inforiego
df_sheets = pd.ExcelFile('inforiego_1.xlsx', engine="openpyxl")
inforiego=[]
for elem in df_sheets.sheet_names:
    df = pd.read_excel('inforiego_1.xlsx', engine="openpyxl", sheet_name=elem)
    df.to_excel(f"{elem} {'inforiego_1.xlsx'}.xlsx")
    elem=pd.read_excel(f"{elem} {'inforiego_1.xlsx'}.xlsx")
    inforiego.append(elem)

In [58]:
meses_añadas=[11,12,1,2,3,4,5,6,7,8,9,10]
for i in range (6):
    inforiego[i]=inforiego[i].drop(['Unnamed: 0'], axis=1)
    inforiego[i]=inforiego[i].rename(columns={'MES':'Month'})
    inforiego[i]=inforiego[i].set_index('Month')

In [59]:
for i in range(6,10,1):
    inforiego[i] = inforiego[i].rename(columns={'Unnamed: 0':'Date','Vel, viento':'viento', 'Dir, viento (*)':'dirección viento','Vel, máx':'viento max'})
    #Creo una columna para el mes
    inforiego[i]['Month']= pd.DatetimeIndex(inforiego[i]['Date']).month
    inforiego[i]= inforiego[i].set_index('Date')
    inforiego[i]=inforiego[i].drop(['Dir, Vel, máx (*)'], axis=1)
    
    inforiego[i]=inforiego[i].drop(['Unnamed: 0.1'], axis=1)

In [60]:
#Creo diferentes dataframes para cada dato mensual de las añadas
añada_18_mes_riego=[]
añada_19_mes_riego=[]
añada_20_mes_riego=[]
añada_21_mes_riego=[]
añada_22_mes_riego=[]
añada_23_mes_riego=[]

for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_18_mes_riego.append(info)
    añada_19_mes_riego.append(info)
    añada_20_mes_riego.append(info)
    añada_21_mes_riego.append(info)
    añada_22_mes_riego.append(info)
    añada_23_mes_riego.append(info)

    añada_18_mes_riego[i]=inforiego[0].iloc[i].to_frame().transpose()
    añada_19_mes_riego[i]=inforiego[1].iloc[i].to_frame().transpose()
    añada_20_mes_riego[i]=inforiego[2].iloc[i].to_frame().transpose()
    añada_21_mes_riego[i]=inforiego[3].iloc[i].to_frame().transpose()
    añada_22_mes_riego[i]=inforiego[4].iloc[i].to_frame().transpose()
    añada_22_mes_riego[i] = añada_22_mes_riego[i].loc[:,'TEMP MAX':'HUM MED']
    if (i<=4):
        añada_23_mes_riego[i]=inforiego[5].iloc[i].to_frame().transpose()
        añada_23_mes_riego[i] = añada_23_mes_riego[i].loc[:,'TEMP MAX':'HUM MED']

In [68]:
#Creo diferentes dataframes para cada dato diario de las añadas
añada_18_dias_riego=[]
añada_19_dias_riego=[]
añada_20_dias_riego=[]
añada_21_dias_riego=[]


for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_18_dias_riego.append(info)
    añada_19_dias_riego.append(info)
    añada_20_dias_riego.append(info)
    añada_21_dias_riego.append(info)
    
    #agrupo por mes los datos de inforiego para poder separarlos
    x=i-1
    if(x<=0):
        x=x+12
    añada_18_dias_riego[i]= inforiego[6].loc[inforiego[6]['Month']==x] 
    añada_19_dias_riego[i]= inforiego[7].loc[inforiego[7]['Month']==x] 
    añada_20_dias_riego[i]= inforiego[8].loc[inforiego[8]['Month']==x] 
    añada_21_dias_riego[i]= inforiego[9].loc[inforiego[9]['Month']==x] 
    
    añada_18_dias_riego[i]= añada_18_dias_riego[i].rename(columns={'TEMP MAX':'TEMP MED','TEMP MED': 'TEMP MAX'})
    añada_19_dias_riego[i]= añada_19_dias_riego[i].rename(columns={'TEMP MAX':'TEMP MED','TEMP MED': 'TEMP MAX'})
    añada_20_dias_riego[i]= añada_20_dias_riego[i].rename(columns={'TEMP MAX':'TEMP MED','TEMP MED': 'TEMP MAX'})
    añada_21_dias_riego[i]= añada_21_dias_riego[i].rename(columns={'TEMP MAX':'TEMP MED','TEMP MED': 'TEMP MAX'})

In [69]:
añada_18_dias_riego[0]

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,Month
Date,,,,,,,,,,,,
2017-11-01,6.87,15.66,-0.47,82.20,100.0,47.19,0.29,41.05,2.09,5.82,0.00,11
2017-11-02,11.15,15.01,8.76,93.20,100.0,75.60,0.40,90.50,2.56,1.72,2.56,11
2017-11-03,11.51,15.26,9.16,96.00,100.0,70.80,0.33,259.30,2.25,3.96,2.36,11
2017-11-04,12.28,17.32,9.76,86.60,100.0,64.72,1.11,283.10,5.95,5.54,0.59,11
2017-11-05,9.26,13.94,4.50,74.80,98.1,54.79,1.50,271.80,5.28,7.92,0.00,11
2017-11-06,6.68,16.70,-0.35,84.20,100.0,46.18,0.51,215.60,3.24,10.36,0.00,11
2017-11-07,4.87,12.43,-1.61,91.27,100.0,70.40,0.74,283.00,5.55,3.39,0.20,11
2017-11-08,5.55,12.74,-0.41,84.40,100.0,55.61,0.99,303.40,6.31,7.86,0.00,11
2017-11-09,4.52,13.27,-2.81,84.90,100.0,51.34,0.61,318.20,3.36,7.46,0.20,11
2017-11-10,8.22,18.50,0.71,83.75,100.0,49.24,0.97,314.20,5.53,9.78,0.00,11
2017-11-11,4.23,14.26,-1.34,91.20,100.0,57.86,0.30,42.71,2.60,6.76,0.00,11
2017-11-12,6.61,15.26,-1.41,89.63,100.0,60.06,0.73,311.10,3.70,6.09,0.20,11
2017-11-13,6.20,15.71,-0.88,85.10,100.0,41.45,0.53,349.10,3.49,7.88,0.20,11
2017-11-14,3.50,15.19,-3.87,79.80,99.4,37.53,0.35,116.70,2.27,9.66,0.00,11
2017-11-15,4.76,19.64,-3.07,78.80,100.0,28.79,0.26,91.90,1.64,9.28,0.00,11
2017-11-16,4.75,18.37,-3.27,78.80,99.6,32.92,0.25,96.70,2.26,9.21,0.20,11
2017-11-17,NaN,NaN,NaN,81.40,99.9,38.73,0.22,93.90,1.89,7.71,0.00,11
2017-11-18,NaN,NaN,NaN,81.10,99.9,30.25,0.25,80.50,1.89,9.13,0.00,11
2017-11-19,NaN,NaN,NaN,80.30,99.5,32.99,0.24,94.90,2.71,9.25,0.00,11
2017-11-20,NaN,NaN,NaN,79.60,99.0,33.06,0.25,109.20,1.72,8.64,0.00,11
2017-11-21,NaN,NaN,NaN,77.30,97.7,30.86,0.29,102.90,1.69,9.02,0.00,11
2017-11-22,NaN,NaN,NaN,67.55,97.5,34.33,1.55,244.20,10.27,4.08,0.00,11
2017-11-23,NaN,NaN,NaN,75.00,100.0,47.27,1.02,233.60,6.52,6.17,3.15,11
2017-11-24,NaN,NaN,NaN,95.60,100.0,73.00,0.35,308.20,2.61,1.25,29.35,11
2017-11-25,NaN,NaN,NaN,85.30,100.0,47.52,0.70,13.54,4.08,8.33,4.33,11
2017-11-26,NaN,NaN,NaN,87.90,100.0,47.93,0.38,89.70,2.25,7.46,0.20,11
2017-11-27,NaN,NaN,NaN,89.40,100.0,45.34,0.20,143.80,1.74,7.74,0.00,11
2017-11-28,NaN,NaN,NaN,90.95,100.0,54.34,0.27,92.42,0.71,6.54,0.39,11
2017-11-29,NaN,NaN,NaN,80.41,100.0,44.20,0.67,19.46,1.96,6.71,0.20,11
2017-11-30,NaN,NaN,NaN,NaN,NaN,NaN,0.68,222.16,2.59,7.75,0.00,11

In [70]:
inforiego_22_23= pd.read_excel('archivo.xlsx')
inforiego_22_23=inforiego_22_23.rename(columns={'Fecha':'Date','Vel. viento':'viento', 'Dir. viento (*)':'dirección viento','Vel. max':'viento max','Radiacion':'Radiación','Precipitacion':'Precipitación'})
inforiego_22_23=inforiego_22_23.rename(columns={'Temp. media':'TEMP MED','Temp. max':'TEMP MAX','Temp. min':'TEMP MIN','Humedad max':'HUM MAX','Hum. med.':'HUM MED','Humedad min':'HUM MIN'})
inforiego_22_23=inforiego_22_23.drop(['Dia Hora Temp Max','Dia Hora Temp Min','Dia Hora Hum Max','Dia Hora Hum Min','Dia Hora Vel Max','Dir. Vel. max (*)'], axis=1)
inforiego_22_23['Month']=pd.DatetimeIndex(inforiego_22_23['Date']).month
inforiego_22_23=inforiego_22_23.set_index('Date')
inforiego_22_23.head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,Month
Date,,,,,,,,,,,,
2021-11-01,11.54,15.41,8.50,72.40,92.70,49.14,1.95,251.2,6.65,7.66,,11
2021-11-02,10.39,16.28,6.37,84.80,94.10,60.14,1.78,263.8,8.66,5.59,4.69,11
2021-11-03,7.32,10.89,4.84,81.10,94.20,63.50,1.60,272.9,6.84,4.03,,11
2021-11-04,5.37,12.08,-0.54,84.30,99.90,58.35,1.12,287.1,5.83,7.81,,11
2021-11-05,7.08,21.70,-1.88,88.60,99.90,57.01,0.57,343.3,3.67,7.42,0.20,11

In [71]:
fecha_division=pd.to_datetime('2022-11-01')

antes = inforiego_22_23.loc[inforiego_22_23.index < fecha_division]
despues=inforiego_22_23.loc[inforiego_22_23.index >= fecha_division]
despues.head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,Month
Date,,,,,,,,,,,,
2022-11-01,7.94,16.91,2.05,84.40,98.10,49.78,0.42,276.60,4.01,10.05,,11
2022-11-02,5.07,9.95,0.98,95.50,98.40,78.70,0.27,306.90,1.79,3.76,0.41,11
2022-11-03,9.62,16.86,5.57,85.20,98.20,48.99,1.02,288.30,5.85,7.09,2.86,11
2022-11-04,7.44,15.12,0.51,81.40,96.90,50.79,0.65,294.10,3.86,8.00,,11
2022-11-05,4.65,17.12,-0.74,89.40,98.30,42.93,0.23,28.37,2.33,7.31,,11

In [72]:
añada_22_dias_riego=[]
añada_23_dias_riego=[]

for i in range(len(meses)):
    info= 'mes'+str(i)
    añada_22_dias_riego.append(info)
    añada_23_dias_riego.append(info)
    
    #agrupo por mes los datos de inforiego para poder separarlos
    x=i-1
    if(x<=0):
        x=x+12
    añada_22_dias_riego[i]= antes.loc[antes['Month']==x] 
    if i<=6:
        añada_23_dias_riego[i]= despues.loc[despues['Month']==x]

# Agrupación en una DB

Hasta ahora tenemos 2 grandes bases de datos: los datos aportados por la bodega y los aportados por InfoRiego.

Los datos de la bodega están agrupados por horas, dias y meses entre 2020 y 2023, mientras que los de InfoRiego solo están agrupados por días y meses entre 2018-2021 y solo entre meses para 2022 y 2023.

Los datos de la bodega contieneninformación sobre:
- Temperatura media, máxima y mínima
- Humedad media, máxima y mínima
- WB (bulbo húmedo), contenido de agua en la humedad del aire.
- DP (punto de rocío), temperatura a la cual el aire tiene que ser enfriado antes de que comience la condensación de su humedad

Mientras que los datos de InfoRiego contienen información sobre:
- Temperatura media, máxima y mínima
- Humedad media, máxima y mínima
- Velocidad del viento media y máxima
- Dirección del viento media y máxima
- Radiación
- Precipitación

La idea es crear 3 bases de datos que contengan toda la información para cada año:
- Clasificada por horas db_AÑO_horas
- Clasificada por días db_AÑO_dias
- Clasificada por mes db_AÑO_mes

Dado que los datos aportados por la bodega son más exactos para nuestra predicción usaremos éstos como punto de referencia y añadiremos los otros para rellenar los espacios vacíos sobre todo desde 2018 hasta 2020 y otros tipos de datos que no son recogidos por el sistema de la bodega.

In [73]:
#Esta es la información que recoge InfoRiego y no la bodega
columnas_riego_1=añada_19_dias_riego[3].columns[6:11]
columnas_bodega=['HUM MAX','HUM MIN','WB','DP']
columnas_riego_1

Index(['viento', 'dirección viento', 'viento max', 'Radiación',
       'Precipitación'],
      dtype='object')

### 2018

No poseemos datos relativos a las horas, por lo que no podremos crea ese db.

In [74]:
# Solo poseemos información de info riego
#DIAS
db_18_dias=[]
for i in range(len(meses)):
    info= añada_18_dias_riego[i]
    for columna in columnas_bodega:
        info[columna]=np.nan
    info=info.drop(['Month'], axis=1)
    db_18_dias.append(info)

#MES
db_18_mes=[]
for i in range(len(meses)):
    info= añada_18_mes_riego[i]
    for columna in columnas_bodega:
        info[columna]=np.nan
    db_18_mes.append(info)

In [75]:
db_18_dias[0].head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2017-11-01,6.87,15.66,-0.47,82.2,NaN,NaN,0.29,41.05,2.09,5.82,0.00,NaN,NaN
2017-11-02,11.15,15.01,8.76,93.2,NaN,NaN,0.40,90.50,2.56,1.72,2.56,NaN,NaN
2017-11-03,11.51,15.26,9.16,96.0,NaN,NaN,0.33,259.30,2.25,3.96,2.36,NaN,NaN
2017-11-04,12.28,17.32,9.76,86.6,NaN,NaN,1.11,283.10,5.95,5.54,0.59,NaN,NaN
2017-11-05,9.26,13.94,4.50,74.8,NaN,NaN,1.50,271.80,5.28,7.92,0.00,NaN,NaN

### 2019

No poseemos datos relativos a las horas, por lo que no podremos crea ese db.

In [76]:
# Solo poseemos información de info riego
#DIAS
db_19_dias=[]
for i in range(len(meses)):
    info= añada_19_dias_riego[i]
    for columna in columnas_bodega:
        info[columna]=np.nan
    info=info.drop(['Month'], axis=1)
    db_19_dias.append(info)

#MES
db_19_mes=[]
for i in range(len(meses)):
    info= añada_19_mes_riego[i]
    for columna in columnas_bodega:
        info[columna]=np.nan
    db_19_mes.append(info)

### 2020

In [77]:
#Solo poseo los datos de la bodega para los datos de las horas

#HORAS
db_20_horas=[]
for i in range(len(meses)):
    info= añada_20_horas[i]
    db_20_horas.append(info)


#DIAS
db_20_dias=[]
for i in range(len(meses)):
    info= añada_20_dias[i]
    #añado la información de inforiego
    if (type(añada_20_dias[i])!=str and i!=4):
        for columna in columnas_riego_1:
            info[columna]=añada_20_dias_riego[i][columna]
    else:
        #añado la información de inforiego si la bodega no tiene los datos del tiempo
        info=añada_20_dias_riego[i]
        info=info.drop(['Month'], axis=1)
        info['WB']=np.nan
        info['DP']=np.nan
        
    db_20_dias.append(info)
for i in range(len(meses)):
    db_20_dias[i].index = pd.to_datetime(db_20_dias[i].index)

#MES
db_20_mes=[]
for i in range(len(meses)):
    info= añada_20_mes[i]
    #añado la información de inforiego
    if (type(añada_20_mes[i])!=str and i!=4):
        x=añada_20_mes_riego[i]['Pluvio'].to_numpy()
        info['Pluvio']=x
        if (i<2):
            info.index=Series([meses[i+10]])
        else:
            info.index=Series([meses[i-2]])
    else:
        #añado la información de inforiego si la bodega no tiene los datos del tiempo
        info=añada_20_mes_riego[i]
        for columna in columnas_bodega:
            info[columna]=np.nan      
    db_20_mes.append(info)

### 2021

In [78]:
#HORAS
db_21_horas=[]
for i in range(len(meses)):
    info= añada_21_horas[i]
    db_21_horas.append(info)
    
#DIAS
db_21_dias=[]
for i in range(len(meses)):
    info= añada_21_dias[i]
    for columna in columnas_riego_1:
        info[columna]=añada_21_dias_riego[i][columna]
    db_21_dias.append(info)
    
    
#MES
db_21_mes=[]
for i in range(len(meses)):
    info= añada_21_mes[i]
    #añado la información de inforiego
    info['Pluvio']=añada_21_mes_riego[i]['Pluvio'].to_numpy()
    if (i<2):
        info.index=Series([meses[i+10]])
    else:
        info.index=Series([meses[i-2]])
    db_21_mes.append(info)

### 2022

In [79]:
#Solo poseo los datos de la inforiego para los datos del mes (pluvio)

#HORAS
db_22_horas=[]
for i in range(len(meses)):
    info= añada_22_horas[i]
    db_22_horas.append(info)
    
#DIAS
db_22_dias=[]
for i in range(len(meses)):
    info= añada_22_dias[i]
    #añado la información de inforiego vacía
    for columna in columnas_riego_1:
        info[columna]=añada_22_dias_riego[i][columna]
    db_22_dias.append(info)
    
    
#MES
db_22_mes=[]
for i in range(len(meses)):
    info= añada_22_mes[i]
    #añado la información de inforiego
    info['Pluvio']=añada_22_mes_riego[i]['Pluvio'].to_numpy()[0]
    if (i<2):
        info.index=Series([meses[i+10]])
    else:
        info.index=Series([meses[i-2]])
    db_22_mes.append(info)

### 2023

In [80]:
#Solo poseo los datos de la inforiego para los datos del mes (pluvio)

#HORAS
db_23_horas=[]
for i in range(len(meses)):
    info= añada_23_horas[i]
    db_23_horas.append(info)
    
#DIAS
db_23_dias=[]
for i in range(len(meses)):
    info= añada_23_dias_riego[i]
    #añado la información de la bodega
    if(type(info)!=str):
        info=info.drop(['Month'], axis=1)
        if(type(añada_23_dias[i])!=str):
            for columna in columnas_bodega:
                info[columna]=añada_23_dias[i][columna]
        else:
            for columna in columnas_bodega:
                info[columna]=np.nan
    db_23_dias.append(info)

#MES
db_23_mes=[]
for i in range(len(meses)):
    info= añada_23_mes[i]
    #añado la información de inforiego
    if(type(info)!=str):
        info['Pluvio']=añada_23_mes_riego[i]['Pluvio'].to_numpy()
        if (i<2):
            info.index=Series([meses[i+10]])
        else:
            info.index=Series([meses[i-2]])
    db_23_mes.append(info)

In [81]:
añada_23_dias[4].head()

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP
Date,,,,,,,,
2022-03-01,13.2,10.437500,8.1,90.3,74.954167,60.7,8.337500,6.112500
2022-03-02,14.4,8.933333,6.1,94.8,80.104167,55.3,7.270833,5.491667
2022-03-03,7.7,6.775000,4.6,97.5,85.433333,69.1,5.733333,4.441667
2022-03-04,14.7,7.333333,3.2,80.2,65.220833,42.3,4.658333,0.912500
2022-03-05,12.2,6.029167,-0.6,88.3,62.758333,36.5,3.279167,-1.087500

# Información MILDIU

Para la utilización de los datos vamos a agrupar todos los datos de cada añada, donde cada fila será un día.
Posteriormente vamos a agrupar todas las añadas, por lo tanto al final tendremos un gran dataset donde las filas irán desde noviembre de 2017 hasta octubre de 2022.

In [82]:
frames_18 = db_18_dias
result_18 = pd.concat(frames_18)
result_18.head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2017-11-01,6.87,15.66,-0.47,82.2,NaN,NaN,0.29,41.05,2.09,5.82,0.00,NaN,NaN
2017-11-02,11.15,15.01,8.76,93.2,NaN,NaN,0.40,90.50,2.56,1.72,2.56,NaN,NaN
2017-11-03,11.51,15.26,9.16,96.0,NaN,NaN,0.33,259.30,2.25,3.96,2.36,NaN,NaN
2017-11-04,12.28,17.32,9.76,86.6,NaN,NaN,1.11,283.10,5.95,5.54,0.59,NaN,NaN
2017-11-05,9.26,13.94,4.50,74.8,NaN,NaN,1.50,271.80,5.28,7.92,0.00,NaN,NaN

In [83]:
frames_19 = db_19_dias
result_19 = pd.concat(frames_19)
result_19.head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2018-11-01,7.01,12.34,0.05,90.9,NaN,NaN,0.42,17.31,2.90,4.48,0.4,NaN,NaN
2018-11-02,12.80,19.59,4.18,83.9,NaN,NaN,1.12,279.80,5.42,10.79,0.0,NaN,NaN
2018-11-03,8.37,17.06,2.52,87.9,NaN,NaN,0.34,352.50,2.26,6.92,0.0,NaN,NaN
2018-11-04,7.41,9.62,2.85,98.7,NaN,NaN,0.41,278.70,2.51,2.35,12.2,NaN,NaN
2018-11-05,6.80,9.62,4.57,95.7,NaN,NaN,0.97,259.30,4.51,3.11,11.6,NaN,NaN

In [84]:
frames_20 = db_20_dias
result_20 = pd.concat(frames_20)
result_20.head()

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2019-11-01,16.72,21.46,14.88,91.70,100.0,63.06,1.43,252.4,6.49,4.70,11.46,NaN,NaN
2019-11-02,13.74,17.13,10.76,85.30,99.8,66.28,2.16,247.3,8.35,4.54,4.22,NaN,NaN
2019-11-03,11.82,14.34,9.02,85.30,100.0,69.77,2.37,261.5,9.07,4.08,2.61,NaN,NaN
2019-11-04,11.61,15.01,7.17,83.45,94.0,70.80,2.37,254.3,7.21,4.27,3.02,NaN,NaN
2019-11-05,9.78,14.48,7.17,85.90,98.3,61.68,2.02,266.9,6.43,6.36,6.43,NaN,NaN

In [85]:
frames_21 = db_21_dias
result_21 = pd.concat(frames_21)
result_21.head()

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP,viento,dirección viento,viento max,Radiación,Precipitación
Date,,,,,,,,,,,,,
2020-11-01,16.4,15.033333,13.2,87.9,82.587500,78.0,13.316667,12.083333,0.32,113.4,1.54,3.06,0.00
2020-11-02,21.9,14.695833,9.8,95.3,83.566667,66.4,13.050000,11.866667,1.27,269.2,6.19,6.50,3.69
2020-11-03,16.6,10.186957,5.8,82.6,67.904348,54.6,7.452174,4.413043,0.83,328.9,4.56,9.28,0.00
2020-11-04,11.3,7.129167,2.0,87.8,68.779167,52.8,4.750000,1.566667,1.07,96.6,5.65,7.95,0.00
2020-11-05,13.2,10.291667,6.7,84.2,73.550000,67.1,8.091667,5.770833,2.67,84.0,7.07,5.97,0.00

In [86]:
frames_22 = db_22_dias
result_22 = pd.concat(frames_22)
for i in range(len(result_22)):
    result_22['Precipitación'][i]= result_22['Precipitación'][i].replace('        ','0')
result_22['Precipitación'] =  result_22['Precipitación'].astype('float64')
result_22.head()

C:\Users\ariad\AppData\Local\Temp\ipykernel_11444\4035791184.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_22['Precipitación'][i]= result_22['Precipitación'][i].replace('        ','0')

,TEMP MAX,TEMP MED,TEMP MIN,HUM MAX,HUM MED,HUM MIN,WB,DP,viento,dirección viento,viento max,Radiación,Precipitación
Date,,,,,,,,,,,,,
2021-11-01,13.8,10.570833,8.3,96.4,74.350000,56.8,8.379167,6.025000,1.95,251.2,6.65,7.66,0.00
2021-11-02,19.4,9.777273,6.3,95.8,85.500000,60.9,8.531818,7.363636,1.78,263.8,8.66,5.59,4.69
2021-11-03,10.0,6.658333,4.8,90.2,81.562500,66.3,5.291667,3.666667,1.60,272.9,6.84,4.03,0.00
2021-11-04,11.5,6.933333,3.7,87.6,74.137500,57.7,4.995833,2.537500,1.12,287.1,5.83,7.81,0.00
2021-11-05,11.0,5.900000,2.1,94.1,81.708333,64.9,4.529167,2.925000,0.57,343.3,3.67,7.42,0.20

In [87]:
frames_23 = db_23_dias[0:7]
result_23 = pd.concat(frames_23)
for i in range(len(result_23)):
    result_23['Precipitación'][i]= result_23['Precipitación'][i].replace('        ','0')
    
columnas_cambiar=['Precipitación','TEMP MED','TEMP MAX','TEMP MIN','HUM MED']
for i in columnas_cambiar:
    result_23[i] =  result_23[i].astype('float64')
result_23.head()

C:\Users\ariad\AppData\Local\Temp\ipykernel_11444\2547512388.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_23['Precipitación'][i]= result_23['Precipitación'][i].replace('        ','0')

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2022-11-01,7.94,16.91,2.05,84.4,96.8,60.7,0.42,276.60,4.01,10.05,0.00,8.479167,6.908333
2022-11-02,5.07,9.95,0.98,95.5,95.0,56.0,0.27,306.90,1.79,3.76,0.41,7.383333,5.908333
2022-11-03,9.62,16.86,5.57,85.2,97.5,60.4,1.02,288.30,5.85,7.09,2.86,8.982609,7.539130
2022-11-04,7.44,15.12,0.51,81.4,79.4,51.7,0.65,294.10,3.86,8.00,0.00,7.458333,4.325000
2022-11-05,4.65,17.12,-0.74,89.4,93.9,55.3,0.23,28.37,2.33,7.31,0.00,6.325000,4.025000

In [88]:
frame=[result_18,result_19,result_20,result_21,result_22,result_23]
data = pd.concat(frame)
data

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP
Date,,,,,,,,,,,,,
2017-11-01,6.87,15.66,-0.47,82.20,NaN,NaN,0.29,41.05,2.09,5.82,0.00,NaN,NaN
2017-11-02,11.15,15.01,8.76,93.20,NaN,NaN,0.40,90.50,2.56,1.72,2.56,NaN,NaN
2017-11-03,11.51,15.26,9.16,96.00,NaN,NaN,0.33,259.30,2.25,3.96,2.36,NaN,NaN
2017-11-04,12.28,17.32,9.76,86.60,NaN,NaN,1.11,283.10,5.95,5.54,0.59,NaN,NaN
2017-11-05,9.26,13.94,4.50,74.80,NaN,NaN,1.50,271.80,5.28,7.92,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-10,11.91,19.17,1.52,63.24,NaN,NaN,1.40,299.40,6.08,23.86,0.00,NaN,NaN
2023-05-11,11.14,18.37,1.92,64.02,NaN,NaN,1.21,317.60,6.75,20.60,0.00,NaN,NaN
2023-05-12,10.70,18.26,2.78,64.75,NaN,NaN,1.27,346.40,5.75,17.29,0.00,NaN,NaN
2023-05-13,10.86,19.58,0.86,66.08,NaN,NaN,1.17,16.98,6.56,22.54,0.00,NaN,NaN
2023-05-14,13.54,23.30,2.32,62.12,NaN,NaN,0.84,359.20,4.72,23.54,0.00,NaN,NaN

In [89]:
data['Date']=data.index
data

,TEMP MED,TEMP MAX,TEMP MIN,HUM MED,HUM MAX,HUM MIN,viento,dirección viento,viento max,Radiación,Precipitación,WB,DP,Date
Date,,,,,,,,,,,,,,
2017-11-01,6.87,15.66,-0.47,82.20,NaN,NaN,0.29,41.05,2.09,5.82,0.00,NaN,NaN,2017-11-01
2017-11-02,11.15,15.01,8.76,93.20,NaN,NaN,0.40,90.50,2.56,1.72,2.56,NaN,NaN,2017-11-02
2017-11-03,11.51,15.26,9.16,96.00,NaN,NaN,0.33,259.30,2.25,3.96,2.36,NaN,NaN,2017-11-03
2017-11-04,12.28,17.32,9.76,86.60,NaN,NaN,1.11,283.10,5.95,5.54,0.59,NaN,NaN,2017-11-04
2017-11-05,9.26,13.94,4.50,74.80,NaN,NaN,1.50,271.80,5.28,7.92,0.00,NaN,NaN,2017-11-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-10,11.91,19.17,1.52,63.24,NaN,NaN,1.40,299.40,6.08,23.86,0.00,NaN,NaN,2023-05-10
2023-05-11,11.14,18.37,1.92,64.02,NaN,NaN,1.21,317.60,6.75,20.60,0.00,NaN,NaN,2023-05-11
2023-05-12,10.70,18.26,2.78,64.75,NaN,NaN,1.27,346.40,5.75,17.29,0.00,NaN,NaN,2023-05-12
2023-05-13,10.86,19.58,0.86,66.08,NaN,NaN,1.17,16.98,6.56,22.54,0.00,NaN,NaN,2023-05-13
2023-05-14,13.54,23.30,2.32,62.12,NaN,NaN,0.84,359.20,4.72,23.54,0.00,NaN,NaN,2023-05-14

# Exportar datos

In [90]:
data.to_excel('base_datos_vinos_2.xlsx', index=False)